mixin footer-pay(items)
	each item in items
		-var adr = '../images/footer/pay/' + item.id + '/' + item.id + '@'
		a.footer-pay__item(class=('footer-pay__item--' + item.id) href=item.href)
			+picture({
				name: item.id,
				adress: adr,
				ext: 'png'
			}, {
				main: {
					width: 64,
					img: 64
				}
			})

mixin footer-contacts(items)
	each item in items
		p.footer-contacts__item(class='footer-contacts__item--' + item.id)
			if item.id == 'mail'
				each text in item.text
					a(href='mailto: ' + text)=text
			else
				=item.text


.footer-phone
	.footer__title Телефон
	p.footer__block
		span.footer-phone__number
			| (495)
			strong 223-92-00
		a.footer-phone__recall(href='/') Перезвоните мне

.footer-pay
	.footer__title Принимаем к оплате
	.footer__block
		+footer-pay([{
			id: 'maestro',
			href: '/'
		}, {
			id: 'mastercard',
			href: '/'
		}, {
			id: 'visa',
			href: '/'
		}, {
			id: 'paypal',
			href: '/'
		}, {
			id: 'webmoney',
			href: '/'
		}, {
			id: 'qiwi',
			href: '/'
		}])

.footer-contacts
	.footer__title Контакты
	.footer__block
		+footer-contacts([{
			id: 'company',
			text: 'ЗАО “Новые Печатные Технологии”'
		}, {
			id: 'adress',
			text: 'г. Москва 2-й Котляковский переулок, д.18'
		}, {
			id: 'phone',
			text: '(495) 223-92-00'
		}, {
			id: 'mail',
			text: ['info@web2book.ru', 'sale@web2book.ru']
		}])

.footer-qr
	.footer__title QR-код
	.footer__block
		+picture({
				name: 'qr-code',
				adress: '../images/footer/qr-code/qr-code@',
				ext: 'jpg'
			}, {
				main: {
					width: 88,
					img: 88
				}
			})
