svg.svg-container(width=0 height=0)
	defs
		include svg_parts/toolbars_svg
		include svg_parts/socials_svg
		include svg_parts/contacts_svg
		include svg_parts/logo_svg
		include svg_parts/svg_filters/toolbars_filters
		//include svg_parts/svg_filters/logo_filters