mixin siteTree(item)
	-siteTree = item

-var siteTree
+siteTree([{
	name: 'Каталог продукции',
	href: '/'
	}, {
	name: 'Онлайн издательство',
	href: '/'
	}, {
	name: 'Оперативная печать',
	href: '/',
	next: [{
			name: 'Книга малыми тиражами',
			href: '/'
			}, {
			name: 'Печать брошюр',
			href: '/'
			}, {
			name: 'Корпоративная продукция',
			href: '/',
			next: [{
					name: 'Фирменные бланки',
					href: '/',
					next: [{
						name: 'vip',
						href: '/'
					}, {
						name: 'reg',
						href: '/'
					}]
					}, {
					name: 'Конверты',
					href: '/'
					}]
			}, {
			name: 'Продукция для записей',
			href: '/'
			}, {
			name: 'Многолистовая продукция',
			href: '/'
			}]
	}, {
	name: 'Калькулятор стоимости',
	href: 'calculator/calculator.html'
	}, {
	name: 'Полезно знать',
	href: '/'
	}, {
	name: 'Контакты',
	href: '/'
	}, {
	name: 'Печать брошюр',
	href: '/'
	}, {
	name: 'Оперативная печать',
	href: '/',
	next: [{
			name: 'Книга малыми тиражами',
			href: '/'
			}, {
			name: 'Печать брошюр',
			href: '/'
			}, {
			name: 'Корпоративная продукция',
			href: '/',
			next: [{
					name: 'Фирменные бланки',
					href: '/'
					}, {
					name: 'Конверты',
					href: '/'
					}]
			}, {
			name: 'Продукция для записей',
			href: '/'
			}, {
			name: 'Многолистовая продукция',
			href: '/'
			}]
	}, {
	name: 'О компании',
	href: '/'
	}, {
	name: 'Вакансии',
	href: '/'
	}])


block variables