mixin goodToKnow_right(name, item)
	div(class = name)
		p(class = name + '__title') Полезно знать
		p(class = name + '__text')
			a(class = name + '__term' href=item.href)=item.term
			|  — 
			span(class = name + '__definition')=item.definition
		a(class = name + '__more' href=item.page) Все термины

+goodToKnow_right('good_to_know-right', {
	href: '/',
	page: '/',
	term: 'Буклет',
	definition: 'простой и эффективный вид полиграфической продукции, который широко используется в различных рекламных акциях'
})
