include ../variables

//-внутренний слайдер
mixin slider--offers_item(slider_name, img_width, items)
	div.offers-item-slider(class='offers-item-slider--' + slider_name)
		div.offers-item__box.viewport(class='offers-' + slider_name + '__box')
			div.offers-item__inner.clearfix.overview(class='offers-' + slider_name + '__inner')
				each item in items
					div.offers-item__item(class='offers-' + slider_name + '__item' + ' ' + 'offers-' + slider_name + '__' + item.id)
						div.offers-item__img(class='offers-' + slider_name + '__img')
							+picture({
								name: item.id,
								adress: '../images/offers/' + slider_name + '/offers-' + slider_name + '@',
								ext: 'png'
							}, {
								main: {
									width: img_width,
									img: img_width
								}
							})
						h3.offers-item__title=item.title
						if item.text
							p.offers-item__text=item.text
		.offers-item__box--pops.clearfix(class='offers-' + slider_name + '__box--pops')
			-each item in items
				if item.hover
					+slider--offers_item--pops(slider_name, item.id, item.title, item.hover)
						
		div.offers-item__scroll.scrollbar(class='offers-' + slider_name + '__scroll')
			div.offers-item__scroll_bar.track(class='offers-' + slider_name + '__scroll_bar')
				div.offers-item__scroll_control.thumb(class='offers-' + slider_name + '__scroll_control')

//-всплывающее описание
mixin slider--offers_item--pops(slider_name, id, title, items)
	.offers-item__item--pops(class='offers-' + slider_name + '__item--pops' + ' ' + 'offers-' + slider_name + '__' + id + '--pops')
		p.offers-item__title.offers-item__title--pops=title
		each item in items
			p.offers-item__text.offers-item__text--pops=item


mixin products
	+slider--offers_item('products' , '3200', [{
		id: 'booklet',
		title: 'Буклеты'
	}, {
		id: 'notepad',
		title: 'Блокноты'
	}, {
		id: 'report',
		title: 'Отчеты'
	}, {
		id: 'album',
		title: 'Альбомы'
	}, {
		id: 'magazine',
		title: 'Журналы'
	}, {
		id: 'encyclopedia',
		title: 'Энциклопедии'
	}, {
		id: 'catalog',
		title: 'Каталоги'
	}, {
		id: 'instruction',
		title: 'Инструкции'
	}])
	
	.offers-products__info
		h4.offers-products__info-title Печать по требованию
		p.offers-products__info-text.
			Применяется для «быстрых» тиражей, под оперативные задачи Вашего бизнеса. Скоростное выполнение возможно с использованием цифрового оборудования премиум-класса. Если Вам нужно отличное...Применяется для «быстрых» тиражей, под оперативные задачи Вашего бизнеса. Скоростное выполнение возможно с использованием цифрового оборудования премиум-класса. Если Вам нужно отличное...Применяется для «быстрых» тиражей, под оперативные задачи Вашего бизнеса. Скоростное выполнение возможно с использованием цифрового оборудования премиум-класса. Если Вам нужно отличное...Применяется для «быстрых» тиражей, под оперативные задачи Вашего бизнеса. Скоростное выполнение возможно с использованием цифрового оборудования премиум-класса. Если Вам нужно отличное...
		a.offers-products__info-more(href='/') Узнать больше

mixin skreplenie
	+slider--offers_item('skreplenie' , '2432', [{
		id: 'spiral',
		title: 'Spiral'
	}, {
		id: 'twin_loop',
		title: 'Twin Loop Wire'
	}, {
		id: 'comb',
		title: 'Comb'
	}, {
		id: 'ring',
		title: 'Ring'
	}, {
		id: 'tape',
		title: 'Tape'
	}, {
		id: 'velo',
		title: 'Velo'
	}, {
		id: 'saddle',
		title: 'Saddle Stitch'
	}, {
		id: 'perfect',
		title: 'Perfect'
	}, {
		id: 'stapled',
		title: 'Stapled'
	}])



mixin services
	+slider--offers_item('services', '2400', services)