.box-size (@width: auto; @margin-bottom: (10px*@zoom); @padding: (@font-size * ((20px*@zoom) / (14px*@zoom))) (20px*@zoom)) {
    display: block;
    box-sizing: border-box;
    width: @width;
    margin-bottom: @margin-bottom;
    padding: @padding;
}

.reset-ul (@list-style: none; @li-padding: 0; @li-margin: 0) {
    list-style: @list-style;
    margin: @li-margin;
    padding: @li-padding;
}

.reset-a () {
    text-decoration: none;
    color: inherit;
}

.generate-contacs__item(@n, @i: 1) when (@i =< @n) {
	@items:
		phone,
		mail,
		skype,
		adress;
	@item: extract(@items, @i);
	
	@grad-phone: radial-gradient(#2093bf, #197295);
	@grad-mail: radial-gradient(#166381, #114c64);
	@grad-skype: radial-gradient(#39c7fe, #2c9bc5);
	@grad-adress: radial-gradient(#7cc576, #60985b);

	&--@{item}:before {
		background-image: url('../images/contacts/icon_@{item}.svg'),~"@{grad-@{item}}";
	}

	.generate-contacs__item(@n, (@i + 1));
}

.generate-socials(@n, @i: 1) when (@i =< @n) {
	@socials:
		twitt,
		vk,
		fb,
		odnoklassniki,
		google;
	@social: extract(@socials, @i);
	
	@color-twitt: #28c3ff;
	@grad-twitt: radial-gradient(#25b4eb, #1b84ad);
	@color-vk: #6996c7;
	@grad-vk: radial-gradient(#5981aa, #476687);
	@color-fb: #496194;
	@grad-fb: radial-gradient(#435988, #324264);
	@color-odnoklassniki: #ff9c43;
	@grad-odnoklassniki: radial-gradient(#eb903e, #ad6a2d);
	@color-google: #ff6d4a;
	@grad-google: radial-gradient(#eb6444, #ad4a32);

	&--@{social} {
		background: ~"@{color-@{social}}";
		
		&:hover {
		background: ~"@{grad-@{social}}";
		}
	}
	
	

	.generate-socials(@n, (@i + 1));
}

.generate-metro(@n, @i: 1) when (@i =< @n) {
	@items:
		varsh,
		kash;
	
	@item: extract(@items, @i);

	input#@{item}:checked~&__controls label[for='@{item}'] {
		opacity: 1;
		box-shadow: @box-shadow__contacts--active;
	}

	.generate-metro(@n, (@i + 1));
}

.generate-map-slider(@n, @i: 1) when (@i =< @n) {
	@items:
		foot,
		car,
		bus;
	
	@item: extract(@items, @i);

	input#@{item}:checked~&__path label[for='@{item}'] {
		opacity: 1;
		box-shadow: @box-shadow__contacts--active;
	}
	
	input#varsh:checked~&__slider input#@{item}:checked~&__path &__path-slider-item--varsh-@{item} {
		display: block;
	}
	input#kash:checked~&__slider input#@{item}:checked~&__path &__path-slider-item--kash-@{item} {
		display: block;
	}
	
	input#varsh:checked~&__slider input#@{item}:checked~&__map &__map-item--varsh-@{item} {
		display: block;
	}
	input#kash:checked~&__slider input#@{item}:checked~&__map &__map-item--kash-@{item} {
		display: block;
	}

	.generate-map-slider(@n, (@i + 1));
}

.generate-map(@n, @i: 1) when (@i =< @n) {
	@items:
		foot,
		car,
		bus;
	
	@item: extract(@items, @i);

	&--varsh-@{item} {
		background-image: url('../images/map/varsh-@{item}.jpg');
	}
		&--kash-@{item} {
		background-image: url('../images/map/kash-@{item}.jpg');
	}

	.generate-map(@n, (@i + 1));
}

.generate-path(@n, @i: 1) when (@i =< @n) {
	@items:
		foot,
		car,
		bus;
	
	@item: extract(@items, @i);

	label[for=@{item}] {
		background-image: url('../images/contacts/contacts-map-@{item}.svg');
	}

	.generate-path(@n, (@i + 1));
}


.generate-footer-socials(@n, @i: 1) when (@i =< @n) {
	@items:
		fb,
		lkd,
		vk;
	@item: extract(@items, @i);
	
	@bg--fb: #696969;
	@bg-hover--fb: #496194;
	@bg--lkd: #5B5B5B;
	@bg-hover--lkd: #007BB5;
	@bg--vk: #777777;
	@bg-hover--vk: #6996c7;
	
	&--@{item} {
		background: ~"@{bg--@{item}}";
		
		&:hover {
			background: ~"@{bg-hover--@{item}}";
		}
	}

	.generate-footer-socials(@n, (@i + 1));
}

.generate-features-pict(@n, @i: 1) when (@i =< @n) {
	@items:
		realization,
		circulation,
		color,
		new,
		specialists,
		technology,
		quality,
		circulation02,
		color02;
	
	@item: extract(@items, @i);
	
	&__@{item}:before {
		background-image: url('../images/features/features-@{item}.png'), @bg__features-pict;
	}

	.generate-features-pict(@n, (@i + 1));
}

.generate-action-order(@n, @i: 1) when (@i =< @n) {
	@items:
		brochure,
		booklet,
		catalog,
		file,
		notepad,
		blank,
		calendar,
		envelop,
		card,
		flyer;
	
	@item: extract(@items, @i);
	
	input[id='action_order-@{item}1'],
	input[id='action_order-@{item}2'],
	input[id='action_order-@{item}3'] {display: none;}
	
	input[id='action_order-@{item}1']:checked~&__controls label[for='action_order-@{item}1'],
	input[id='action_order-@{item}2']:checked~&__controls label[for='action_order-@{item}2'],
	input[id='action_order-@{item}3']:checked~&__controls label[for='action_order-@{item}3'] {
		height: 93px;
		background-color: @bg__action-order-controls--active;
		border: @boder__action-order-controls--active;

		@media (max-width: 991px) {
			height: 55px;
		}
	}
	
	input[id='action_order-@{item}1']:checked~&__item--1,
	input[id='action_order-@{item}2']:checked~&__item--2,
	input[id='action_order-@{item}3']:checked~&__item--3 {
		display: block;
		animation: show .9s;
		animation-fill-mode: forwards;
	}


	.generate-action-order(@n, (@i + 1));
}

.generate-action-slider(@n, @i: 1) when (@i =< @n) {
	@items:
		brochure,
		booklet,
		catalog,
		file,
		notepad,
		blank,
		calendar,
		envelop,
		card,
		flyer;
	
	@item: extract(@items, @i);
	
	input[id='action-@{item}'] {display: none;}
	
	input[id='action-@{item}']:checked~&-controls-box label[for='action-@{item}'] {
		background: white;

		.action-controls__item--pict,
		.action-controls__item--name {
			border-color: @border__action-controls--active;
		}

		.action-controls__item--name {
			color: @color__action-controls--active;
			border-image-source: @bg__action-controls-grad--active-border;
		}
	}
	

	
	input[id='action-@{item}']:checked~&-slider &-slider__item--@{item} {
		display: block;
		animation: show 1s;
		animation-fill-mode: forwards;
	}


	.generate-action-slider(@n, (@i + 1));
}

.generate-news-slider(@n, @i: 1) when (@i =< @n) {
	@items:
		news1,
		news2,
		news3;
	
	@item: extract(@items, @i);
	
	input#@{item} {display: none;}
	
	input#@{item}:checked~.row .news-item--@{item} {display: block;}


	.generate-news-slider(@n, (@i + 1));
}

