.box-size (@width: auto; @margin-bottom: (10px*@zoom); @padding: (@font-size * ((20px*@zoom) / (14px*@zoom))) (20px*@zoom)) {
    display: block;
    box-sizing: border-box;
    width: @width;
    margin-bottom: @margin-bottom;
    padding: @padding;
}

.reset-ul (@list-style: none; @li-padding: 0; @li-margin: 0) {
    list-style: @list-style;
    margin: @li-margin;
    padding: @li-padding;
}

.reset-a () {
    text-decoration: none;
    color: inherit;
}

.generate-contacs__item(@n, @i: 1) when (@i =< @n) {
	@items:
		phone,
		mail,
		skype,
		adress;
	@item: extract(@items, @i);
	
	@grad-phone: radial-gradient(#2093bf, #197295);
	@grad-mail: radial-gradient(#166381, #114c64);
	@grad-skype: radial-gradient(#39c7fe, #2c9bc5);
	@grad-adress: radial-gradient(#7cc576, #60985b);

	&--@{item}:before {
		background-image: url('../images/contacts/icon_@{item}.svg'),~"@{grad-@{item}}";
	}

	.generate-contacs__item(@n, (@i + 1));
}

.generate-socials(@n, @i: 1) when (@i =< @n) {
	@socials:
		twitt,
		vk,
		fb,
		odnoklassniki,
		google;
	@social: extract(@socials, @i);
	
	@color-twitt: #28c3ff;
	@grad-twitt: radial-gradient(#25b4eb, #1b84ad);
	@color-vk: #6996c7;
	@grad-vk: radial-gradient(#5981aa, #476687);
	@color-fb: #496194;
	@grad-fb: radial-gradient(#435988, #324264);
	@color-odnoklassniki: #ff9c43;
	@grad-odnoklassniki: radial-gradient(#eb903e, #ad6a2d);
	@color-google: #ff6d4a;
	@grad-google: radial-gradient(#eb6444, #ad4a32);

	&--@{social} {
		background: ~"@{color-@{social}}";
		
		&:hover {
		background: ~"@{grad-@{social}}";
		}
	}
	.generate-socials(@n, (@i + 1));
}



