extends ../../layouts/right-column

block variables
	-var pageID = [4]
	-var pageClass = 'calculator'
	-var specClass = ''

block scripts_upper

block content
	include ../../blocks/calculator/calculator

block right-sidebar

block content-bottom
	include ../../blocks/teasers


block scripts
	script(src="../../scripts/carousel.js")
	script(src="../../scripts/calc_page_scroll.js")
	script(src="../../scripts/counter.js")