extends ../../layouts/online-lib

block variables
	-var pageID = [1]
	-var pageClass = 'online-lib'
	-var specClass = 'online-lib__main'

block scripts_upper

block content-top
	include ../../blocks/index/offers
	include ../../blocks/online_lib/header


block left-sidebar
	include ../../blocks/online_lib/left-column



block content
	include ../../blocks/online_lib/online_lib






block scripts
	script(src="../../scripts/scrolls-index.js")