extends ../../layouts/right-column

block variables
	-var pageID = [3]
	-var pageClass = ''
	-var specClass = ''

block scripts_upper

block content
	include ../../blocks/rapid_print/rapid_print

block right-sidebar

block content-bottom
	include ../../blocks/teasers


block scripts