mixin online_lib_menu_left(name, items)
	each item in items
		ul(class = name)
			p(class = name + '__title')=item.name
			each elem in item.items
				li(class = name + '__item')
					a(class = name + '__item-name' href='#')=elem


nav(class=pageClass + '-left')
	+online_lib_menu_left(pageClass + '-left-menu', [{
		name: 'Книги',
		id: 'books',
		items: [
			'Бизнес',
			'Детская литература',
			'Журналы, периодика',
			'Иностранная литература',
			'Искусство. Религия',
			'Компьютерная литература',
			'Красота, здоровье, секс',
			'Научная литература',
			'Подарочные издания',
			'Право',
			'Семья. Быт. Досуг',
			'Спорт. Туризм. Карты и атласы',
			'Универсальная справочная литература',
			'Учебная литература: подготовка к школе, школа, ВУЗ',
			'Художественная литература',
			'Эзотерика. Парапсихология. Тайны',
			'Прочие издания'
		]
	}, {
		name: 'Журналы',
		id: 'magazines',
		items: [
			'Научные',
			'Развлекательные',
			'Музыкальные'
		]
	}])