extends ../../../../layouts/private_room

block variables
	-var pageID = [1, 1, 1]
	-var pageClass = 'private_room'
	-var specClass = ''

block scripts_upper

block header

block content
	include ../../../../blocks/private_room/personal


block scripts
