extends faq_templ

mixin faq_list(name, items)
	div(class = name)
		ul.list__items.list--style__items
			each item in items
				li.list__item.list--style__item.list__item--arrow
					a.list__item-name.link.link--hover--line(href = '#')=item
					
mixin faq_nav_page(name)
	.nav-page.nav-page_faq
		.nav-page__controls.nav-page_faq__controls.clearfix
			button&attributes({'class': [name + '__btn', name + '__btn_prev']})
			ul&attributes({'class': [name + '__items', name + '_faq__items', 'clearfix']})
				-var i = 1
				while i < 5
					li&attributes({'class': [name + '__item', name + '_faq__item']})(class={'active': i === 1})
						a&attributes({'class': [name + '__item-name', name + '_faq__item-name']})(href = '#')=i++
			button&attributes({'class': [name + '__btn', name + '__btn_next']})
		.nav-page__sign.nav-page_faq__sign
			span Показаны результаты с
			span.nav-page__sign-range.nav-page_faq__sign-range 1 по 10
			span.nav-page__sign-summ.nav-page_faq__sign-summ (всего 43)

block faq_main
	.faq-main__header
		.title.title_pop Калькуляция проекта
	.faq-main__block
		+faq_list('faq-list', [
			'Принцип заполнения граф в калькуляции проекта',
			'Форматы поддерживающие редактирование в обложке, так же общей текстовой части с элементами тиснения',
			'Выбор корешка обложки и типов скрепления',
			'Генерация QR кода',
			'Отправка менеждеру резыльтаты изменения калькуляции'
		])
		+faq_nav_page('nav-page')




