mixin private_room_menu(name)
	-var tree = private_room_tree[0]
	-var top = pageID[1] - 1
	-var active
	ul.clearfix(class = name + '-part' + ' ' + name + '--top')
		each item, i in tree.next
			if i === top
				-active = ' ' + name + '-item--top--active'
			else
				-active = ''
			li(class = name + '-item' + ' ' + name + '-item--top' + active)
				a(class = name + '-item_name' + ' ' + name + '-item_name--top' href='#')=item.name
	
	each item, i in tree.next
		if i === top && item.next
			ul.clearfix(class = name + '-part' + ' ' + name + '--bottom')
				each elem, j in item.next
					if j === pageID[2] - 1
						-active = ' ' + name + '-item--bottom--active'
					else
						-active = ''
					li(class = name + '-item' + ' ' + name + '-item--bottom' + active)
						a(class = name + '-item_name' + ' ' + name + '-item_name--bottom' href='#')=elem.name


header(class = pageClass + '-header')
	div.clearfix(class = pageClass + '-header-features')
		include header_features
	nav(class = pageClass + '-header__menu')
		+private_room_menu(pageClass + '-header__menu')