-var actualClass = pageSubclass

include my_files/header

mixin my_files(items)
	+my_files_header(actualClass, items)
	



+my_files([{
	id: 'loaded',
	name: 'Загруженные'
}, {
	id: 'working',
	name: 'Файлы для работы'
}, {
	id: 'processing',
	name: 'Файлы в обработке',
	new: 2
}, {
	id: 'split',
	name: 'Разбитые файлы'
}, {
	id: 'approved',
	name: 'Утвержденные'
}])