html,
body {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 424px;
	background: url(../images/bg-main.jpg);
	font-family: @font;
	font-size: @size;
}

main {
	max-width: 1040px;
	margin: 0 auto;
}

.footer-wrapper {
	position: absolute;
	max-width: 1040px;
	left: 50%;
	margin-left: -520px;
	bottom: 0;
}

.svg-container {
	display: none;
}

* {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
}