html,
body {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	height: 100%;
}

body {
	height: 100%;
	font-family: @font;
	font-size: @size;
	background-size: 240px;
	background-repeat: repeat;
	.retina('../images/bg-main/bg-main@', 240, 'jpg');
}

.scrollTop {
	display: none;
	position: fixed;
	bottom: 5%;
	right: 5%;
	padding: 0.5em;
	background-color: firebrick;
	color: white;
	text-decoration: none;
	z-index: 100;
	
	&:hover {
		background: red;
		text-decoration: underline;
	}
	
	&:active, &:visited {color: white;}
}

.body-wrapper {
	min-height: 100%;
	position: relative;
	max-width: 1040px;
	margin: 0 auto;
	padding-bottom: 420px;
	
	@media(max-width: 1070px) {padding-bottom: 480px;}
	@media(max-width: 750px) {padding-bottom: 380px;}
	@media(max-width: 650px) {padding-bottom: 400px;}
	@media(max-width: 600px) {padding-bottom: 380px;}
	@media(max-width: 470px) {padding-bottom: 420px;}
	@media(max-width: 370px) {padding-bottom: 440px;}
	@media(max-width: 300px) {padding-bottom: 460px;}
}

main {
	position: relative;
	margin: 0 auto;
}

.footer-wrapper {
	position: absolute;
	bottom: 0;
	
	&:before, &:after {
		content: '';
		position: absolute;
		z-index: 10;
		top: -2.8%;
		background-repeat: no-repeat;
		
		@media(max-width: 470px) {display: none;}
	}
	
	&:before {
		left: 0.3%;
	}
	
	&:after {
		right: -0.1%;
	}
	
	@media(max-width: 960px) {
		&:before {left: 0.1%;}
		&:after {right: -0.3%;}
	}
	
	@media(max-width: 900px) {
		&:before {left: 0.6%;}
		&:after {right: 0.4%;}
	}
	
	@media(max-width: 850px) {
		&:before {left: 0.4%;}
		&:after {right: 0.2%;}
	}
	
	@media(max-width: 730px) {
		&:before {left: 0.2%;}
		&:after {right: -0.2%;}
	}
	
	@media(max-width: 650px) {
		&:before {left: -0.2%;}
		&:after {right: -0.5%;}
	}
	
	@media(max-width: 600px) {
		&:before, &:after {top: -4%;}
	}
	
	@media(max-width: 560px) {
		&:before {left: -0.5%;}
		&:after {right: -0.7%;}
	}
	
	@media(max-width: 520px) {
		&:after {right: -1.2%;}
	}
}

.svg-container {display: none;}

* {box-sizing: border-box;}

.container {margin: 0 auto;}

.body-index {
	max-width: 1150px;
	
	main {
		width: 90.435%;
		@media(max-width: 470px) {width: 100%;}
	}
	
	.footer-wrapper {
		width: 90.435%;
		left: 50%;
		margin-left: -(90.435% / 2);
		
		@media(max-width: 470px) {
			width: 100%;
			left: 0;
			margin-left: 0;
		}

		&:after {
			right: -0.3%;
			
			@media(max-width: 960px) {right: -0.4%;}
			@media(max-width: 900px) {right: 0.3%;}
			@media(max-width: 850px) {right: -0.1%;}
			@media(max-width: 730px) {right: -0.3%;}
			@media(max-width: 650px) {right: -0.6%;}
			@media(max-width: 560px) {right: -0.9%;}
		}
	}
}

.container {
	&--main {
		position: relative;
		width: 96.16%;
		padding-bottom: 3.93em;
		background: white;
		border-radius: 5px;
		box-shadow: 0 0 7px 0 rgba(0, 0, 0, .3);

		@media(max-width: 470px) {
			width: 100%;
		}

		@media(max-width: 450px) {
			padding-bottom: 25px;
		}
	}
	
	&--private_room {
		padding: 2%;
		padding-bottom: 3.93em;
	}
}

.main-content {
	position: relative;
	margin: 0 20px 3.93em;
	overflow: hidden;
}

.column--central, .column--right {float: left;}

.column {
	&--central {
		width: (100% - 24% - 2%);

		@media(max-width: 768px) {
			width: 100%;
			margin: 0;
			padding: 2% 2% 0;
		}

		&-left {}

		&-right {
			margin-right: 2%;
			padding: 2% 0 0 2%;
		}
	}
	
	&--left, &--right {
		
	}
	
	&--left {}

	&--right {
		width: 24%;
		padding: 2% 2% 0 0;

		@media(max-width: 768px) {display: none;}
	}
}