@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Light';
  src: url('../fonts/MyriadPro/MyriadPro-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('../fonts/MyriadPro/MyriadPro-Bold_0.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Cond';
  src: url('../fonts/MyriadPro/MyriadPro-Cond_0.otf');
  font-weight: normal;
  font-style: normal;
}