mixin slider--formates_item(slider_name, items)
	div.formates-item-slider(class='formates-item-slider--' + slider_name)
		div.formates-item__box(class='formates-' + slider_name + '__box')
			div.formates-item__inner.clearfix(class='formates-' + slider_name + '__inner')
				each item in items
					div.formates-item__item(class='formates-' + slider_name + '__item' + ' ' + 'formates-' + slider_name + '__' + item.id)
						div.formates-item__img(class='formates-' + slider_name + '__img'): img(src='../images/formates/format@4680.png', alt=item.id)
						if item.text
							p.formates-item__text=item.text
			.formates-item__inner.formates-item__inner--pops.clearfix(class='formates-' + slider_name + '__inner' + ' ' + 'formates-' + slider_name + '__inner--pops')
				-each item in items
					if item.hover
						+slider--formates_item--pops(slider_name, item.id, item.hover)

		div.formates-item__scroll(class='formates-' + slider_name + '__scroll')
			div.formates-item__scroll_bar(class='formates-' + slider_name + '__scroll_bar')
				div.formates-item__scroll_control(class='formates-' + slider_name + '__scroll_control')

mixin slider--formates_item--pops(slider_name, id, items)
	div.formates-item__item.formates-item__item--pops(class='formates-' + slider_name + '__item' + ' ' + 'formates-' + slider_name + '__' + id + ' ' + 'formates-' + slider_name + '__item--pops' + ' ' + 'formates-' + slider_name + '__' + id + '--pops')
		div.formates-item__item--pops_wrapper(class='formates-' + slider_name + '__item--pops_wrapper' + ' ' + 'formates-' + slider_name + '__' + id + '--pops_wrapper')
			each item in items
				p.formates-item__text.formates-item__text--pops=item

mixin formates
	+slider--formates_item('formates', [{
		id: 'a0',
		text: 'А0 – 841Х мм',
		hover: ['']
	}, {
		id: 'a1',
		text: 'А1 – 594Х841 мм',
		hover: ['А1 имеет размер 594Х841 мм.']
	}, {
		id: 'a2',
		text: 'А2 – 420Х594 мм',
		hover: ['А2 имеет размер 420х594 мм. Предназначен для печати календарей и постеров. Так же для упаковочной бумаги.']
	}, {
		id: 'a3',
		text: 'А3 – 297Х420 мм',
		hover: ['']
	}, {
		id: 'a4',
		text: 'А4 – Х297 мм',
		hover: ['']
	}, {
		id: 'a5',
		text: 'А5 – Х мм',
		hover: ['']
	}, {
		id: 'a6',
		text: 'А6 – Х мм',
		hover: ['']
	}, {
		id: 'a7',
		text: 'А7 – Х мм',
		hover: ['']
	}, {
		id: 'a8',
		text: 'А8 – Х мм',
		hover: ['']
	}])