extends ../../../layouts/right-column

block variables
	-var pageID = [3, 5]
	-var pageClass = ''
	-var specClass = ''

block scripts_upper

block content
	include ../../../blocks/rapid_print/multi_sheet/multi_sheet

block right-sidebar

block content-bottom
	include ../../../blocks/teasers


block scripts