extends ../../../../layouts/private_room

block variables
	-var pageID = [1, 2, 1]
	-var specClass = ''
	-var pageClass = 'private_room'
	-var pageSubclass = 'my_files'

block scripts_upper

block header

block content
	include ../../../../blocks/private_room/my_files


block scripts