mixin ul(classes, items)
	ul(class=classes)
		each item, i in items
			-var end = ';'
			if i == items.length - 1
				-end = '.'
			li=item.name + end
				if item.inner
					case item.inner.type
						when 'ol'
							ol
								block inner_elems
									each elem in item.inner.items
										li=elem + ';'
						when 'ul'
							ul
								block inner_elems




article.multi_sheet.seo
	+titles('multi_sheet', siteTree)
	h3.title--h3.multi_sheet__title Печать по требованию
	section.multi_sheet__text.seo__text
		p (<strong>Print on Demand</strong> — оперативная полиграфия для Вашего бизнеса). Применяется для «быстрых» тиражей, под оперативные задачи Вашего бизнеса. Скоростное выполнение возможно с использованием цифрового оборудования premium-класса. Если Вам нужно отличное качество, нормальные цены и, самое главное, короткие сроки - стоит обратиться именно к нам. Наша типография обладает самым современным оборудованием, специалистами с многолетним опытом работы, четкой внутренней организацией.
		p Проект weB2Book представляет линейку предложений по печати бизнес-полиграфии:
		.clearfix.floats--half.multi_sheet__img-container.left-img
			.left.seo__img.left-img__img
				+picture({
					name: 'Print on Demand',
					adress: '../images/content_images/multi_sheet_img1@',
					ext: 'jpg'
				}, {
					main: {
						width: 320,
						img: 320
					}
				})
			+ul('right left-img__text', [{
				name: 'Буклеты на скобе'
				},{
				name: 'Блокноты на пружине'
				},{
				name: 'Брошюры'
				},{
				name: 'Портфолио'
				},{
				name: 'Отчеты'
				},{
				name: 'Папки'
				},{
				name: 'Календари (квартальные, карманные, «домики»)'
				},{
				name: 'Флаеры'
				},{
				name: 'И другая малостраничная полиграфия для бизнес-задач'
				}])
		p Одно из основных направлений типографии «Новые Печатные Технологии» – это малотиражная полиграфия. Для многих издательских центров и типографий Москвы печать книги – важная статья доходов, но лишь небольшая доля подобных предприятий готова браться за небольшие по объему заказы. Дело в том, что печать книги малыми тиражами требует перенастройки оборудования и для стандартной типографии часто оказывается нерентабельной.
		+ul('', [{
			name: 'низкая себестоимость малотиражной полиграфии',
			inner: {
				type: 'ul',
				items: [
					'Буклеты на скобе',
					'Блокноты на пружине',
					'Брошюры',
					'Портфолио',
					'Отчеты'
				]}
			}, {
			name: 'оперативность выполнения заказов при цифровой печати',
			inner: {
				type: 'ol',
				items: [
					'Буклеты на скобе',
					'Блокноты на пружине',
					'Брошюры',
					'Портфолио',
					'Отчеты'
				]}
			}, {
				name: 'эстетичное оформление переплетов (методы холодного и горячего тиснения, кбс переплет (печать с кбс – клеевое бесшовное скрепление), мягкий переплет)'
			}, {
				name: 'возможность печати книг в мягком переплете с полноцветной обложкой и черно-белым внутренним блоком'
				}])
		p Если вы почувствовали, что пора открыть миру ваш писательский дар – типография «Новые Печатные Технологии» с удовольствием облачит в книжную форму ваше произведение. Издание небольшого «пробного» тиража позволит ощутить вкус успеха и найти поклонников вашего таланта. Наша компания готова работать со скромными тиражами и при этом демонстрирует высокие требования к исполнению заказов.

article.multi_sheet.seo
	h3.title--h3.multi_sheet__title Таблица