mixin cover_cover_color(name, item)
	-var itemName = pageClass + '__switcher'
	.calculator__item.form__switcher(class=itemName + ' ' + name + ' ' + name + '-color')
			+form_switcher(itemName, [{
				id: name + '-color',
				obj: item
			}])
			.form__switcher-img(class=itemName + '-img' + ' ' + name + '-items')
				+picture({
					name: item.off.name,
					class: 'form__switcher-img_off ' + itemName + '-img_off ' + name + '-img--switcher',
					adress: '../images/calculator/' + name + '/color/' + name + '-color@',
					ext: 'png'
				}, {
					main: {
						width: 496
					}
				})
				+picture({
					name: item.on.name,
					class: 'form__switcher-img_on ' + itemName + '-img_on ' + name + '-img--switcher',
					adress: '../images/calculator/' + name + '/color/' + name + '-color@',
					ext: 'png'
				}, {
					main: {
						width: 496
					}
				})

mixin cover_color(name)
	+cover_cover_color(name, {
		id: 'cover_color',
		name: 'Цветная',
		off: {
			val: 'b_w',
			name: 'Черно-белая'
		},
		on: {
			val: 'colored',
			name: 'Цветная'
		}
	})