mixin cover_cover_color(name, item)
	.calculator__item.calculator__switcher(class=name + ' ' + name + '-color')
			+calc_switcher(name, item)
			.calculator__switcher-img(class=name + '-items')
				+picture({
					name: item.off.name,
					class: 'calculator__switcher-img_off ' + name + '-img--switcher',
					adress: '../images/calculator/' + name + '/color/' + name + '-color@',
					ext: 'png'
				}, {
					main: {
						width: 496,
						img: 496
					}
				})
				+picture({
					name: item.on.name,
					class: 'calculator__switcher-img_on ' + name + '-img--switcher',
					adress: '../images/calculator/' + name + '/color/' + name + '-color@',
					ext: 'png'
				}, {
					main: {
						width: 496,
						img: 496
					}
				})

mixin cover_color(name)
	+cover_cover_color(name, {
		id: 'cover_color',
		name: 'Цветная',
		off: {
			val: 'b_w',
			name: 'Черно-белая'
		},
		on: {
			val: 'colored',
			name: 'Цветная'
		}
	})