mixin cover_effects(name, obj)
	.calculator__item.calculator__switcher.clearfix(class=name)
		+calc_switcher([{
			name_main: name,
			id: name + '-convex',
			obj: obj.convex
		}, {
			name_main: name,
			id: name + '-stamping',
			obj: obj.stamping
		}])
		.calculator__switcher-img(class=name + '-items')
			+picture({
				name: 'Эффекты нанесения',
				adress: '../images/calculator/' + name + '/' + name + '@',
				ext: 'png'
			}, {
				main: {
					width: 128,
					img: 128
				}
			})

mixin effects(name)
	+cover_effects(name, {
		convex: {
			id: 'convex',
			name: 'Конгрев',
			off: {
				val: 'no-convex',
				src: '',
				alt: 'Без конгрева'
			},
			on: {
				val: 'convex',
				src: '',
				alt: 'Конгрев'
			}
		},
		stamping: {
			id: 'stamping',
			name: 'Тиснение',
			off: {
				val: 'no-stamping',
				src: '',
				alt: 'Без тиснения'
			},
			on: {
				val: 'stamping',
				src: '',
				alt: 'Тиснение'
			}
		}
	})