@sprite_calc-bg: url(../images/spritesheet/sprite_calc/spritesheet@1w.png);

.sprite_calc { background-image: @sprite_calc-bg; }

.sprite_icon-captcha_refresh:before {
    content: "";
    background-image: @sprite_calc-bg;
    background-position: -36px -28px;
    background-size: 70px 37px;
    width: 12px;
    height: 8px;
}

.sprite_icon-counter-arrow--left:before {
    content: "";
    background-image: @sprite_calc-bg;
    background-position: 0px 0px;
    background-size: 70px 37px;
    width: 18px;
    height: 37px;
}

.sprite_icon-counter-arrow--right:before {
    content: "";
    background-image: @sprite_calc-bg;
    background-position: -18px 0px;
    background-size: 70px 37px;
    width: 18px;
    height: 37px;
}

.sprite_icon-form_attention:before {
    content: "";
    background-image: @sprite_calc-bg;
    background-position: -54px -25px;
    background-size: 70px 37px;
    width: 12px;
    height: 11px;
}

.sprite_icon-print-arrow:after {
    content: "";
    background-image: @sprite_calc-bg;
    background-position: -54px 0px;
    background-size: 70px 37px;
    width: 16px;
    height: 25px;
}

.sprite_icon-ruler-thumb:after {
    content: "";
    background-image: @sprite_calc-bg;
    background-position: -36px 0px;
    background-size: 70px 37px;
    width: 18px;
    height: 28px;
}
