mixin block_paper_inner(name, items)
	.calculator__item.calculator__ruler(class=name)
		+calc_ruler(name, items, 3)

mixin block_paper(name)
	+block_paper_inner(name, [70, 80, 130, 150, 170, 200, 250, 300])