mixin slide1_block(name, item)
	h4.header-slide1__title=item.title
	ul.header-slide1__features
		each elem in item.point
			li.header-slide1__features_item=elem
	a(href=item.btn.href).header-slide1__btn=item.btn.name
		
mixin slide1(name)
	div(class='header-' + name + '__content')
		+slide1_block(name, {
			title: 'Личный кабинет',
			point: ['Покупка товара', 'Онлай редактор', 'Мониторинг заказов', 'Калькуляция', 'Поддержка всех систем'],
			btn: {
				name: 'Личный кабинет',
				href: '/'
			}
		})
	.header-slide1__img
		+picture({
				name: name,
				adress: '../images/header/header_slide1@',
				ext: 'png'
			}, {
				main: {
					width: '544',
					img: ['544', '544', '544', '544']
				},
				other: [{
					val: 'max',
					width: '730',
					img: ['380', '380', '380', '380']
				}]
			})