.private_room-archive {
	position: fixed;
	top: 25px;
	left: 8%;
	width: 84%;
	background: white;
	border: 1px solid #bcbdbd;
	border-radius: 6px;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, .4);
	z-index: 50;
	
	&__title {
		margin: 0;
		padding: 0.9em 0.7em;
		background-image: linear-gradient(to top, #57bff5 35%, #46a6eb);
		font-family: @font-bold;
		color: white;
		text-transform: uppercase;
		border: 1px solid #57bff5;
		border-radius: 6px 6px 0 0;
	}
	
	&__close {
		position: absolute;
		top: 0;
		right: 0;
		width: 25px;
		height: 25px;
		
		&:before {
			position: absolute;
			left: 50%;
			margin-left: -5px;
			top: 50%;
			margin-top: -5px;
		}
	}
	
	&-nav {
		padding: 0.6em 0.7em;
		background: #f0f2f5;
		text-align: right;
		border-bottom: 1px solid #ccc;
		
		&__inputs {display: none;}
		
		&__items {
			.reset-ul();
			display: inline-block;
		}
		
		&__item {
			float: left;
		}
		
		&__name {
			@w: 25px;
			width: @w;
			height: @w;
			
			&:before {
				position: absolute;
				left: 50%;
				margin-left: -8.6px;
				top: 50%;
				margin-top: -8.6px;
			}
			
			&--icons {border-radius: 2px 0 0 2px;}
			&--list {border-radius: 0 2px 2px 0;}
		}
	}
	
	&__block {}
	
	&_icons {
		&__items {
			.reset-ul();
		}
		
		&__item {
			float: left;
			width: 25%;
		}
	}
	
	&__checkbox {
		&-input {
			display: none;
			&:checked ~ label:after {display: block;}
		}
	}
	
	
}