.private_room-archive {
	position: absolute;
	top: 25px;
	left: 8%;
	width: 84%;
	background: white;
	border: 1px solid #bcbdbd;
	border-radius: 6px;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, .4);
	z-index: 50;
	
	&__title {
		margin: 0;
		padding: 0.9em 0.7em;
		background-image: linear-gradient(to top, #57bff5 35%, #46a6eb);
		font-family: @font-bold;
		color: white;
		text-transform: uppercase;
		border: 1px solid #57bff5;
		border-radius: 6px 6px 0 0;
	}
	
	&__close {
		position: absolute;
		top: 0;
		right: 0;
		width: 25px;
		height: 25px;
		
		&:before {
			position: absolute;
			left: 50%;
			margin-left: -5px;
			top: 50%;
			margin-top: -5px;
		}
	}
	
	&-nav {
		padding: 0.6em 0.7em;
		background: #f0f2f5;
		text-align: right;
		border-bottom: 1px solid #ccc;
		
		&__inputs {display: none;}
		
		&__items {
			.reset-ul();
			display: inline-block;
		}
		
		&__item {
			float: left;
		}
		
		&__name {
			@w: 25px;
			width: @w;
			height: @w;
			
			&:before {
				position: absolute;
				left: 50%;
				margin-left: -8.6px;
				top: 50%;
				margin-top: -8.6px;
			}
			
			&--icons {border-radius: 2px 0 0 2px;}
			&--list {border-radius: 0 2px 2px 0;}
		}
	}
	
	&__block {}
	
	&_icons {
		display: none;
		
		&__items {
			.reset-ul();
			padding: 1.1em 0.7em;
		}
		
		&__box {
			position: relative;
			margin: 0 2.1%;
			padding: 1.3em 0.5em 0.7em;
			height: 360px;
			text-align: center;
			border-radius: 5px;
		}
		
		&__item {
			position: relative;
			float: left;
			width: 25%;
			cursor: pointer;
		}
		
		&__img {
			position: relative;
			display: inline-block;
			padding-bottom: 52px;
			border-radius: 5px;
			box-shadow: inset 0 0 14px 0 rgba(255, 255, 255, .75);
			
			&:before, &:after {
				content: '';
				position: absolute;
				left: 50%;
				background-position: center;
				background-repeat: no-repeat;
			}
			
			&:before {
				width: 150px;
				height: 62px;
				margin-left: -(150px / 2);
				top: -10px;
				background-size: 150px;
				z-index: -1;
				.retina('../images/private_room/archive/box/archive_back@', 150);
			}
			
			&:after {
				width: 174px;
				height: 88px;
				margin-left: -(174px / 2);
				background-size: 174px;
				bottom: -5px;
				.retina('../images/private_room/archive/box/archive_box@', 174);
			}
			
			img {
				position: relative;
				display: block;
				border: 1px solid #8c8c8c;
				border-radius: 5px;
				z-index: -1;
			}
		}
		
		&__title {
			padding: 0 1em;
			color: #333;
			
			span {
				display: block;
				line-height: 1.42;
			}
		}
		
		&__actions {
			.reset-ul();
			position: absolute;
			display: none;
			padding-top: 17px;
			width: 105.4%;
			height: 61px;
			top: 208px;
			left: -(5.4% / 2);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			.retina('../images/private_room/archive/box/archive_actions@', 240);
		}
		
		&__action {
			display: inline-block;
		}
		
		&__act:hover {
			background-color: #97bee2;
		}
	}
	
	&__checkbox {
		position: absolute;
		right: 5%;
		top: 3%;
		width: 13px;
		height: 13px;
		z-index: 5;
		
		&-input {
			display: none;
			&:checked ~ label:after {display: block;}
		}
	}
	
	&_icons__item:hover &__checkbox:before {border-color: #353535;}
	
	&_icons__item:hover &_icons__box {
			background-color: rgba(0, 0, 0, .5);
			border: 1px solid #959595;
			box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .5);
		}
	
	&_icons__item:hover &_icons__actions {display: block;}
	
	&_list {
		position: relative;
		padding: 1.7em 1em 2.8em;
		
		&__title {
			&--table {padding-left: 4.2em;}
			
			&--info {
				float: none;
				text-align: center;
				background-color: #a5dffd;
			}
		}
		
		&__table {margin-right: 20.8em;}
		
		&__name {
			.reset-a();
			padding-left: 3.9em;
		}
		
		&__actions {
			.reset-ul();
			padding-top: 0.4em;
			background-color: #f0f2f5;
			border: 1px solid rgba(0, 0, 0, 0.14);
			border-left: none;
		}
		
		&__action {
			display: inline-block;
		}
		
		&__info {
			position: absolute;
			top: 1.7em;
			right: 1em;
			width: 20.8em;
			
			&__block {
				padding: 1.6em;
				height: 39em;
				font-size: 0.86em;
				border-right: 1px solid rgba(0, 0, 0, 0.14);
				border-bottom: 1px solid rgba(0, 0, 0, 0.14);
			}
			
			&__img {
				text-align: center;
				margin-bottom: 1.2em;
			}
			
			&__items {
				.reset-ul();
			}
			
			&__item {margin-bottom: 1.9em;}
			
			&__name, &__val {width: 49%;}
			
			&__name {
				float: left;
				color: #959494;
			}
			
			&__val {
				float: right;
				
				span {
					display: block;
				}
			}
		}
	}
}