.my_files {
	&-table {
		&__body, &__header {
			.reset-ul();
			width: 100%;
		}
		
		&__header-item, &__item {
			float: left;
			text-align: center;
		}
		
		&__header {
			position: relative;
			font-family: @font__news-all;
			font-size: 0.79em;
			color: #808080;
			border: 1px solid rgba(0, 0, 0, 0.14);
			
			&-item {
				margin: 0;
				padding: 1.3em 0;
			}
		}
		
		&__items {
			position: relative;
			font-size: 0.86em;
			border-left: 1px solid rgba(0, 0, 0, 0.14);
			border-right: 1px solid rgba(0, 0, 0, 0.14);
			
			&:first-child {border-top: 1px solid rgba(0, 0, 0, 0.14);}
			&:last-of-type {border-bottom: 1px solid rgba(0, 0, 0, 0.14);}
			
			&--color1 {background: #e1e3e6;}
			&--color2 {background: #f0f2f5;}
		}
		
		&__item {
			position: relative;
			padding-top: 0.9em;
			padding-bottom: 0.9em;
			height: 3em;
		}
	}
	
	&-upload {
		margin-bottom: 3em;

		&__title {margin-top: 0;}

		&__header-item, &__item {
			
			&-name {
				width: 40%;
				padding-left: 5%;
				text-align: left;
			}
			&-size {width: 10%;}
			&-type {width: 10%;}
			&-status {width: 30%;}
			&-delete {width: 10%;}
		}

		&__item {
			&-delete {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				cursor: pointer;

				span {
					position: absolute;
					top: 50%;
					margin-top: -8px;
					left: 50%;
					margin-left: -8px;

					&:hover {transform: scale(1.1)}
				}
			}
		}

		&__status {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 10%;

			&-bar {
				position: relative;
				width: 80%;
				margin: 0 auto;
				height: 17px;

				&--loading {
					border: 1px solid #4c4c4c;
					border-image: linear-gradient(to top, white, #a5a5a5 77%, #4c4c4c) 1 stretch;
					box-shadow:
						inset 0 2px 3px 0 rgba(0, 0, 0, 0.3),
						inset 0 0 5px 0 rgba(0, 0, 0, 0.3);
				}
			}

			&-text {
				position: relative;
				z-index: 5;

				&--loading {
					font-family: @font__news-all;
					font-size: 0.92em;
					color: white;
				}
				&--end {font-size: 1.16em;}
			}

			&-fill {
				position: absolute;
				left: 0;
				right: 30%;
				top: 0;
				bottom: 1px;
				background-color: #4ca6e6;
				background-image:
					linear-gradient(120deg, transparent 0px, transparent 33%, rgba(130, 193, 238, 0.5) 33%, rgba(130, 193, 238, 0.5) 65%, transparent 65%, transparent 99%, rgba(130, 193, 238, 0.5) 99%),

					linear-gradient(to top, #64c1e8, #388bbf 33%, #6dccf1);
				background-size: 13px 100%;
				box-shadow:
					inset 4px 0 3px -3px rgba(255, 255, 255, 0.75),
					inset -4px 0 3px -3px rgba(255, 255, 255, 0.75),
					1px 1px 0 0 rgba(0, 0, 0, 0.2);

				&--end {display: none;}
			}
		}
	}
	
	&__btn--gray {
		.reset-a();
		position: relative;
		display: block;
		padding: 1em 0.5em;
		font-size: 0.85em;
		background: linear-gradient(to top, #c2c2c2, #ebebeb);
		color: #303540;
		border-radius: 2px;
		border: 1px solid #9e9e9e;
		box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, .5);
		text-shadow: 0 1px 0 rgba(255, 255, 255, .75);

		&:hover, &:active {
			background: linear-gradient(to top, #c2c2c2, #ebebeb - 63%);
			border-color: #616161;
			box-shadow:
				inset 0 2px 2px 0 rgba(0, 0, 0, .5),
				inset 0 0px 3px 0 rgba(0, 0, 0, .3);
		}
	}
	
	&__check {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			margin-top: -7px;
			left: 0;
			@w: 11px;
			width: @w;
			height: @w;
			background-color: white;
			border: 1px solid #8f9090;
			cursor: pointer;
		}
		
		&:after {
			content: '';
			position: absolute;
			display: none;
			left: 0;
			top: 50%;
			margin-top: -7px;
			background-image: @sprite_private_room-bg;
			cursor: pointer;
		}
	}
	
	&-download {
		position: relative;
		margin-bottom: 3.2em;
		
		&-add {
			float: left;
			width: 12.2em;
			
			&__btn {
				position: relative;
				margin: 0.72em auto;
				
				&-cloud, &-cloud-select, &-load {
					padding-left: 25%;
					
					&:before {
						position: absolute;
						top: 50%;
						margin-top: -8px;
						left: 8%;
					}
				}
				
				&-cloud {
					margin-right: 29px;
					border-right: none;
					border-radius: 2px 0 0 2px;
					
					&:hover, &:active {border-right: 1px solid #616161;}
					
					&-select {
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						padding: 0;
						width: 29px;
						background: linear-gradient(to top, #a9a9a9, #d5d5d5);
						border-radius: 0 2px 2px 0;
						cursor: pointer;
						
						&:hover, &:active {background: linear-gradient(to top, #a9a9a9, #d5d5d5 - 63%);}
						
						&:before {
							margin-top: -4.5px;
							left: 50%;
							margin-left: -8px;
						}
						
						&:hover>ul {display: block;}
						
						input#cloud_open {
							display: none;
							
							&:checked~ul {display: block;}
						}
					}
				}
			}
		}
		
		&__cloud-selector {
			display: none;
			.reset-ul();
			position: absolute;
			right: -31.3em;
			top: -1em;
			width: 30em;
			padding: 0.42em;
			text-align: center;
			background: linear-gradient(to top, #c2c2c2, #ebebeb);
			border-radius: 2px;
			border: 1px solid #9e9e9e;
			box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, .5);
			z-index: 5;
			
			&:before {
				content: '';
				position: absolute;
				top: 23px;
				left: -6.2px;
				background: linear-gradient(to right top, #D9D9D9, #E0E0E0);
				width: 10px;
				height: 10px;
				border-left: 1px solid #9e9e9e;
				border-top: 1px solid #9e9e9e;
				box-shadow: inset 2px 0 2px -2px rgba(255, 255, 255, .5), inset 0px 2px 2px -2px rgba(255, 255, 255, .5);
				transform: rotate(-45deg);
			}
			
			&__item {
				position: relative;
				float: left;
				width: 100% / 5;
				height: 7.3em;
			}
			
			&__name {
				.reset-a();
				display: block;
				height: 100%;
				padding: 0 0.4em 0.4em;
				border-radius: 2px;
				
				&:hover {background: #97bee2;}
				
				&-text {
					display: inline-block;
					padding: 0 0.6em;
				}
			}
			
			&__img {
				overflow: hidden;
				margin-bottom: 0.4em;
				
				.cloud_drives(5);
			}
		}
		
		&-drop {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 12.2em;
			right: 11em;
			margin: 0 2%;
			background-color: #f0f2f5;
			background-repeat: no-repeat;
			background-position: 13% center;
			background-size: 74px auto;
			border: 1px solid #ccc;
			border-radius: 2px;
			.retina('../images/private_room/drags_bg/drags_bg@', 74);
			
			&__text {height: 100%;
				margin: 4% 9% 0 32%;
				line-height: 1.45;
				font-size: 1.28em;
				color: #444;
				text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
			}
		}
		
		&-drivers {
			float: right;
			width: 10.4em;
			margin-right: 0.6em;
		
			&__text {color: #303540;}
			
			&__btn {
				.reset-a();
				position: relative;
				font-size: 1.43em;
				padding: 0.5em 0.2em 0.6em 45px;
				margin-left: 0;
				color: white;
				
				&:hover, &:active {color: white;}
				
				&:before {
					position: absolute;
					top: 50%;
					margin-top: -12px;
					left: 0.5em;
				}
			}
		}
	}
	
	.my_files_menu(5);
	
	&-menu {
		.reset-ul();
		border-bottom: 3px solid #57bff5;
		
		&__item {
			float: left;
			margin-right: 0.61%;
			color: #6b7180;
			
			&:last-child {margin-right: 0;}
		}
		
		&__name {
			display: block;
			position: relative;
			padding: 0.9em 1.4em 0.5em;
			background-color: #f0f2f5;
			text-transform: uppercase;
			font-family: @font-bold;
			color: #6b7180;
			border: 1px solid #ccc;
			border-bottom: none;
			border-radius: 6px 6px 0 0;
			cursor: pointer;
			
			&-top {
				@w: 18px;
				position: absolute;
				top: 1px;
				right: 2px;
				width: @w;
				height: @w;
				line-height: @w;
				background: #c53417;
				font-family: @font;
				text-align: center;
				color: white;
				border-radius: 50%;
			}
		}
	}
	
	&-refresh {
		background: #f0f2f5;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		
		&__info {
			float: left;
			margin-top: 0.7em;
			margin-left: 1.7em;
			margin-bottom: 0;
			color: #333;
			
			span {
				vertical-align: middle;
				margin: 0 0.1em 0 0.3em;
			}
		}
		
		&__btn {
			float: right;
			width: 13em;
			padding: 0.4em 0.5em 0.4em 3em;
			margin: 1.1em 1.2em;
			cursor: pointer;
			
			&:before {
				position: absolute;
				top: 50%;
				margin-top: -8px;
				left: 0.8em;
			}
		}
	}
	
	&-actions {
		padding: 0.6em;
		background: #f0f2f5;
		font-size: 0.86em;
		color: #333;
		border: 1px solid #ccc;
		border-bottom: none;
		
		&__checking {
			float: left;
			label {vertical-align: middle;}
		}
		
		&__manage {float: right;}
		
		&__check-all {
			padding-left: 2em;
			margin-right: 0.5em;
		}
		
		&__expand {
			cursor: pointer;
			&:hover, &:active {background-color: #3e9ade;}
		}
		
		&__menu {
			float: left;
			.reset-ul();
			
			&-items {
				position: relative;
				float: left;
				padding: 0 0.5em;
				
				&:before {
					content: '';
					position: absolute;
					right: -0.5px;
					top: 10%;
					width: 1px;
					height: 80%;
					background: #ccc;
				}
				
				&:last-child:before {display: none;}
			}
			
			&-item {
				.reset-a();
				display: block;
				float: left;
				cursor: pointer;
				
				&:hover, &:active {background-color: #3e9ade;}
			}
		}
		
		&__search {
			float: right;
			padding: 0.1em 0;
			width: 16.8em;
			
			&-input {
				position: relative;
			
				input {
					width: 100%;
					padding: 0.21em 26px 0.21em 0.5em;

					&:focus {outline: none;}

					&::-webkit-input-placeholder {
						padding-left: 2.9em;
						font-family: @font-italic;
						color: #808080;
					}

					&::-moz-placeholder {
						padding-left: 2.9em;
						font-family: @font-italic;
						color: #808080;
					}/* Firefox 19+ */

					&:-moz-placeholder {
						padding-left: 2.9em;
						font-family: @font-italic;
						color: #808080;
					}/* Firefox 18- */

					&:-ms-input-placeholder {
						padding-left: 2.9em;
						font-family: @font-italic;
						color: #808080;
					}
				}
			}
			
			&-btn {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 28px;
				background: transparent;
				border: none;
				outline: none;
				
				&:before {
					position: absolute;
					top: 50%;
					margin-top: -11.5px;
					left: 50%;
					margin-left: -14px;
				}
			}
		}
	}
	
	&-docs {
		margin-bottom: 4.1em;
		
		&__body {
			&--sub,
			&--history,
			&--split {
				position: relative;
				//display: none;
			}
		}
		
		&__header, &__item-wrap {
			position: relative;
			width: 100%;
		}
		
		&__header {height: 3.8em;}
		&__item-wrap {height: 3em;}
		
		&__header-item, &__item {
			position: absolute;
			top: 0;
			bottom: 0;
			
			&-check {
				padding-left: 0.6em;
				width: 28px;
				border-right: none;
				z-index: 5;
				
				input {display: none;}
				
				label {
					display: block;
					height: 100%;
				}
			}
			
			&-name {
				left: 28px;
				padding-left: (55px - 28px);
				right: 35%;
			}
			
			&-size, &-manage {border-left: 1px solid rgba(0, 0, 0, 0.14);}
			
			&-size {
				width: 10%;
				right: 25%;
			}
			
			&-manage {
				width: 25%;
				right: 0;
			}
		}
		
		&__items {
			&:before {
				content: '';
				position: absolute;
				top: 0;
				width: 0;
				border-left: 1px dotted #606162;
				z-index: 5;
			}
			
			&:not(:last-of-type):before {bottom: 0;}
			&:last-of-type:before {height: 1.5em;}
			
			input[id^='folder_opener'],
			input[id^='history_opener'],
			input[id^='split_opener'] {
				display: none;
				&:checked ~ ul {display: block;}
			}
			
			input[id^='folder_opener']:checked~.my_files-docs__item-wrap label[for^='folder_opener']:before {
				content: '-';
				top: -5px;
				left: 2px;
				font-size: 18px;
			}
			
			
			&--lvl0 {
				&:before, &>.my_files-docs__item-wrap>.my_files-docs__item-name:before {display: none;}
			}
			
			&--new {
				background-image: linear-gradient(to top, #57bff5 35%, #46a6eb 100%);
				box-shadow: inset 0 0 0 1px #57bff5;
			}
		}
		
		&__item {
			&-wrap {
				height: 3em;
				
				&:hover {
					box-shadow: 0 0 8px 0 rgba(0, 0, 0, .75);
					z-index: 10;
				}
			}
			
			&-name {
				text-align: left;
				
				&:not(.sprite_icon-arrow_history--gray):not(.sprite_icon-arrow_history--white):before {
					content: '';
					position: absolute;
					top: 50%;
					margin-top: -1px;
					width: 15px;
					height: 0;
					border-bottom: 1px dotted #606162;
				}
				
				span:before {
					content: '';
					display: inline-block;
					margin-right: 0.5em;
					vertical-align: bottom;
				}
				
				label[for^='folder_opener'],
				label[for^='history_opener'],
				label[for^='split_opener'] {
					position: absolute;
					z-index: 5;
				}
				
				label[for^='folder_opener'] {
					@w: 13px;
					top: 50%;
					margin-top: -7px;
					left: 2px;
					width: @w;
					height: @w;
					border: 1px solid #444;
					
					&:before {
						content: '+';
						position: absolute;
						top: -3px;
						left: 1px;
						font-size: 15px;
					}
				}
				
				label[for^='history_opener'],
				label[for^='split_opener'] {
					top: 0;
					bottom: 0;
					left: 27px;
					right: 0;
				}
			}
			
			&-manage {
				padding: 0 0.5%;
				line-height: 3em;
				text-align: left;
				font-family: @font-italic;

				a:hover, a:active {background-color: #3e9ade;}

				span:not(.my_files__manage--recieved) {
					width: 100%;
					text-align: center;
				}
			}
		}
		
		&__body {
			&--sub, &--history, &--split {
				.my_files-docs {
					&__items {
						font-size: 1em;
						border: none;
						
						&:last-child {box-shadow: inset 0 -1em 0.6em -0.6em rgba(0, 0, 0, 0.2);}
						.my_files-docs__items--new:last-child {
							background-image: linear-gradient(to top, #57bff5 35%, #46a6eb 100%);
							box-shadow:
								inset 0 -1em 0.6em -0.6em rgba(0, 0, 0, 0.2),
								inset 0 0 0 1px #57bff5;
						}
					}
				}
			}
			
			&--history {
				
				.my_files-docs {
					&__items {
						background-image: linear-gradient(rgba(0, 5, 15, 0.65), rgba(0, 5, 15, 0.65));
						color: white;
						
						&:first-child {box-shadow: inset 0 1em 0.6em -0.6em rgba(0, 0, 0, 0.2);}
						
						&:only-child {
							box-shadow:
								inset 0 -1em 0.6em -0.6em rgba(0, 0, 0, 0.2),
								inset 0 1em 0.6em -0.6em rgba(0, 0, 0, 0.2);
						}
						
						&.my_files-docs__items--new:only-child {
							background-image: linear-gradient(to top, #57bff5 35%, #46a6eb 100%);
							box-shadow:
								inset 0 -1em 0.6em -0.6em rgba(0, 0, 0, 0.2),
								inset 0 1em 0.6em -0.6em rgba(0, 0, 0, 0.2),
								inset 0 0 0 1px #57bff5;
						}
						
						&:before {display: none;}
						
						&:first-child:after {
							content: '';
							position: absolute;
							@w: 0.84em;
							width: @w;
							height: @w;
							top: -(@w / 2);
							background-image: linear-gradient(135deg, #484849 50%, transparent 50%);
							transform: rotate(45deg);
						}
					}
					
					&__item-name:before {position: absolute;}
				}
			}
			
			.my_files-docs_left(11);
		}
		
		&--working {
			.my_files-docs__body--history {
				.my_files-docs__items {
					background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
					color: inherit;
					
					&:first-child:after {background-image: linear-gradient(135deg, #bfbfbf 50%, transparent 50%);}
				}
			}
		}
	}
	
	&__manage {
		display: inline-block;
		vertical-align: middle;
		
		&--wait {
			&:before {
				display: inline-block;
				vertical-align: top;
				margin-top: 8px;
				margin-right: 6px;
			}
		}
		
		&--recieved {
			width: 4.5em;
			line-height: 1.4;
		}
	}
}

.private_room--my_files #my_files__check-all:checked ~ .my_files-header label[for="my_files__check-all"]:after,
.my_files__checkbox>input[type="checkbox"]:checked ~ label:after {display: block;}

.private_room--my_files #my_files__check-all:disabled ~ .my_files-header label[for="my_files__check-all"],
.my_files__checkbox>input[type="checkbox"]:disabled ~ label {opacity: .3;}

.cloud_drives(@n, @i: 1) when (@i =< @n) {
	@items:
		icloud,
		google,
		dropbox,
		ubuntu,
		yandex;
	@item: extract(@items, @i);
	
	@margin: -100% * (@i - 1);
	
	img {
		width: (100% * @n);
		height: auto;
	}
	
	&--@{item} img {margin-left: @margin;}
	
	.cloud_drives(@n, (@i + 1));
}

.my_files_menu(@n, @i: 1) when (@i =< @n) {
	@items:
		loaded,
		working,
		processing,
		split,
		approved;
	@item: extract(@items, @i);
	
	input#my_files-@{item}:checked~&-header label[for='my_files-@{item}'] {
		color: white;
		background: linear-gradient(to top, #57bff5 35%, #46a6eb);
		border: 1px solid #57bff5;
		border-bottom: none;
	}
	
	.my_files_menu(@n, (@i + 1));
}

.my_files-docs_left(@n, @i: 1) when (@i =< @n) {
	@step: 25px;
	@history: 65px;
	@history_arrow: 7px;
	@items: 11px;
	@name: 27px;
	@name_before: -17px;
	@label: 2px;
	
	.my_files-docs {
		&__items--lvl@{i} {
			&:before {left: @items + @step * @i;}
			&:after {left: @history + @step * @i;}

			.my_files-docs__item-name {
				padding-left: @name + @step * @i;
				&:before {left: @name_before + @step * @i;}
				label[for^='folder_opener'] {left: @label + @step * @i;}
			}
		}

		&__body--history {
			.my_files-docs__items--lvl@{i} .my_files-docs__item-name:before {left: @history_arrow + @step * @i;}
		}
	}
	
	.my_files-docs_left(@n, (@i + 1));
}