.private_room {
	padding: 1.4em 1.43em 0;
	border: 1px solid #ccc;
	border-top: none;
	border-radius: 0 0 7px 7px;
	
	&--profile {padding: 2.86em 1.43em 0;}
	
	&-header {
		&-items {float: right;}
		
		&__menu {
			clear: both;
			
			@media(max-width: 650px) {font-size: 0.8em;}
			
			&-part {
				.reset-ul();
			}
			
			&--top {border-bottom: 3px solid #57bff5;}
			
			&--bottom {
				padding: 0.5em;
				background: #41454d;
			}
			
			&-item {
				float: left;
				
				&_name {
					.reset-a();
					position: relative;
					display: block;
					text-transform: uppercase;
					font-family: @font-bold;
					cursor: pointer;
					
					&--top {
						padding: 0.9em 1.4em 0.5em;
						
						@media(max-width: 768px) {padding: 0.9em 0.7em 0.5em;}
						
						&:after {
							content: '';
							position: absolute;
							left: 1.4em;
							right: 1.4em;
							bottom: 0.3em;
							border-bottom: 1px dashed #5b5a5a;
							
							@media(max-width: 768px) {
								left: 0.7em;
								right: 0.7em;
							}
						}
					}
					
					&--bottom {
						padding: 0.7em 1.4em;
						border-radius: 4px;
						
						@media(max-width: 768px) {padding: 0.7em;}
					}
				}
				
				&--top {
					color: #6b7180;
					
					&--active {
						position: relative;
						color: white;
						
						&:after {
							content: '';
							position: absolute;
							background: #41454d;
							left: 50%;
							margin-left: -0.25em;
							bottom: -0.5em;
							width: 0.5em;
							height: 0.5em;
							transform: rotate(45deg);
							
							@media(max-width: 650px) {bottom: -0.6em;}
						}
						
						a {
							background: linear-gradient(to top, #57bff5 35%, #46a6eb);
							border-radius: 6px 6px 0 0;
							border: 1px solid #57bff5;
							
							&:after {display: none;}
						}
					}
				}
				
				&--bottom {
					margin-right: 0.5em;
					color: white;
					
					&:hover, &:active, &--active {
						color: #41454d;
						
						a {
							background: white;
							box-shadow: inset 0 1px 0 0 #e5e5e6;
						}
					}
				}
			}
		}
	}
	
	&-page_controls {
		padding: 35px 0 50px;
		color: white;
		border-top: 2px solid #ccc;
	}
	
	&-page__btn {
		.reset-a();
		width: 140px;
		height: 41px;
		font-size: 24px;
		line-height: 37px;
		vertical-align: middle;
		text-shadow: 0 1px 0 rgba(57, 158, 229, 0.75);
		
		&--prev {
			float: left;
			padding-left: 40px;
			
			&-personal {display: none;}
		}
		
		&--next {
			float: right;
			padding-left: 30px;
			
			&-details {display: none;}
		}
	}
	
	&-profile {
		&__form {
			padding-bottom: 6.43em;
			
			&-part {
				margin: 0;
				margin-bottom: 1.6em;
				padding: 0;
				border: none;
			}
		}
		
		&__label {
			width: 11.64em;
			margin-right: 1em;
		}
		
		&__inputs {width: 13.92em;}
		
		&__btn {
			margin-top: 1.5em;
			margin-left: 6.32em;
		}
		
		&__title {
			margin-top: 0;
			
			&--personal {margin-bottom: 0.3em;}
			&--details {margin-top: 0;}
		}
		
		&__point {
			color: #808080;
			
			&:before {
				content: '—';
				margin-right: 0.3em;
				color: #399ee5;
			}
		}
	}
}

@import url('my_files.less');

