mixin manage_mix(name, obj, stats, dealing, activities)
	if obj.status
		-var date = ''
		-var spec_class = ''
		if obj.status.date
			-date = ' ' + obj.status.date
		if obj.status.stat == 0
			-spec_class = 'my_files__manage--wait sprite_icon-files_refresh'
		if obj.status.stat == 4
			-spec_class = 'my_files__manage--recieved'
		if obj.status.stat == 5
			-spec_class = 'my_files__manage--approved'
		span.my_files__manage(class = spec_class)=stats[obj.status.stat] + date
		if name == 'approved' && obj.status.stat == 5
			label(for=opener_name + '_opener--' + item.id + '_' + name) История
		
		if obj.dop_stat
			each item in obj.dop_stat
				a.my_files__manage.sprite_private_room(class='my_files__manage--' + dealing[item].id + ' ' + 'sprite_icon-' + dealing[item].id href='#' title=dealing[item].title)
	else
		if name != 'approved'
			each activity in activities
				each types in activity.type
					if obj.type == types
						each action in activity.actions
							a.my_files__manage.sprite_private_room(class='my_files__manage--' + dealing[action].id + ' ' + 'sprite_icon-' + dealing[action].id href='#' title=dealing[action].title)

-var manage_obj = {}
mixin manageObj(obj, item)
	-obj['type'] = item.type
	if item.status
		-obj['status'] = item.status
	if item.dop_stat
		-obj['dop_stat'] = item.dop_stat
	if item.history
		-obj['history'] = item.history
+manageObj(manage_obj, item)

-var stats = {}
mixin statsObj(obj)
	-obj['0'] = 'Ожидайте ответа'
	-obj['1'] = 'Отправлен'
	-obj['2'] = 'Окончание обработки'
	-obj['3'] = 'Возврат'
	-obj['4'] = 'Получен'
	-obj['5'] = 'Утвержден'
+statsObj(stats)

-var dealing = {}
mixin dealingObj(obj)
	-obj['0'] = {id: 'file_pdf', title: 'В pdf'}
	-obj['1'] = {id: 'process_manage', title: 'Управление процессом'}
	-obj['2'] = {id: 'clipboard', title: 'Скопировать'}
	-obj['3'] = {id: 'comment', title: 'Комментировать'}
	-obj['4'] = {id: 'look', title: 'Просмотр'}
	-obj['5'] = {id: 'view_1p', title: 'Одностраничный просмотр'}
	-obj['6'] = {id: 'zip', title: 'Архивировать'}
	-obj['7'] = {id: 'to_check', title: 'На проверку'}
	-obj['8'] = {id: 'recheck', title: 'На повторную проверку'}
	-obj['9'] = {id: 'info', title: 'Информация'}
	-obj['10'] = {id: 'approve', title: 'Принять'}
+dealingObj(dealing)

+manage_mix(manage_name, manage_obj, stats, dealing, [{
	type: ['folder'],
	actions: [6, 7]
	}, {
	type: ['txt', 'jpeg', 'png', 'jpg'],
	actions: [0, 1, 5, 3, 2]
	}, {
	type: ['pdf', 'docx'],
	actions: [1, 5, 3, 2]
	}
])