-var table_loaded = []
+itemBuild(table_loaded, [{
			id: 'for_print',
			name: 'Для печати',
			type: 'folder',
			size: '',
			folder: [{
				id: 'my_books',
				name: 'Мои книги',
				type: 'folder',
				size: '',
				folder: [{
					id: 'the_roof_is_on_fire_you_fat_beaches.pdf',
					name: 'The_roof_is_on_fire_you_fat_beaches',
					type: 'pdf',
					size: ''
				}]
			}, {
				id: 'my_books1',
				name: 'Мои книги1',
				type: 'folder',
				size: '',
				folder: [{
					id: 'the_roof_is_on_fire_you_fat_beaches1.pdf',
					name: 'The_roof_is_on_fire_you_fat_beaches1',
					type: 'pdf',
					size: ''
				}]
			}]
		}, {
			id: 'outline',
			name: 'Наброски',
			type: 'folder',
			size: '',
			folder: [{
				id: 'smth_else',
				name: 'Smth else',
				type: 'folder',
				size: '',
				folder: [{
					id: 'the_roof_is_on_fire.pdf',
					name: 'The_roof_is_on_fire',
					type: 'pdf',
					size: ''
				}]
			}]
		}, {
			id: '12_obezyan.jpeg',
			name: '12_obezyan',
			type: 'jpeg',
			size: ''
		}, {
			id: 'petrovich.png',
			name: 'Petrovich',
			type: 'png',
			size: ''
		}, {
			id: 'r2-d2.pdf',
			name: 'r2-d2',
			type: 'pdf',
			size: ''
		}, {
			id: 'kniga_12.33.txt',
			name: 'Kniga_12.33',
			type: 'txt',
			size: ''
		}, {
			id: 'pitomnik.pdf',
			name: 'Pitomnik',
			type: 'pdf',
			size: ''
		}, {
			id: 'ochumet.docx',
			name: 'Ochumet',
			type: 'docx',
			size: ''
		}])

