include ../helpers/variables
include ../helpers/mixins

doctype html
html.no-svg(lang="ru")
	head
		include ../blocks/head
		block scripts_upper

	body
		include ../helpers/svg
		.body-wrapper(class=pageClass)
			include ../blocks/header

			main(class=specClass)
				.container.container--main
					block content

			.footer-wrapper.sprite_icon-footer-clip--left.sprite_icon-footer-clip--right
				include ../blocks/footer
		
		a.scrollTop(href='#') Наверх

	include ../blocks/scripts
	block scripts