include ../helpers/variables
include ../helpers/mixins

doctype html
html.no-svg(lang="ru")
	head
		
		include ../blocks/head
		block scripts_upper

	body
		include ../helpers/svg
		.body-wrapper
			include ../blocks/header

			main
				.container.container--main(class=specClass)
					block content

			.footer-wrapper
				include ../blocks/footer

	include ../blocks/scripts
	block scripts