include ../helpers/variables
include ../helpers/mixins

doctype html
html.no-svg(lang="ru")
	head
		include ../blocks/head
		block scripts_upper

	body
		block content
					
	include ../blocks/scripts
	block scripts