include ../helpers/variables
include ../helpers/mixins

-var filesPath = ''
+filesPath(pageID)

doctype html
html.no-svg(lang="ru")
	head
		include ../blocks/head
		block scripts_upper

	body
		include ../helpers/svg
		.body-wrapper
			include ../blocks/header

			main(class=specClass)
				.container.container--main.container--private_room
					+breadcrumbs(private_room_tree)
					include ../blocks/private_room/header
					
					block content

			.footer-wrapper.sprite_icon-footer-clip--left.sprite_icon-footer-clip--right
				include ../blocks/footer
		
		a.scrollTop(href='#') Наверх

	include ../blocks/scripts
	block scripts