include ../helpers/variables
include ../helpers/mixins

doctype html
html.no-svg(lang="ru")
	head
		include ../blocks/head
		block scripts_upper

	body
		include ../helpers/svg
		.body-wrapper(class=pageClass)
			include ../blocks/header

			main(class=specClass)
				.container.container--main.clearfix
					.column--central
						block content
					aside.column--right
						block right-sidebar
					block content-bottom

			.footer-wrapper
				include ../blocks/footer

	include ../blocks/scripts
	block scripts