mixin main-text(items)
	each item, i in items
		.descriptions__block
			h2.title--h2.descriptions__title=item.title
			each text in item.text
				p.descriptions__text=text

.descriptions
	+main-text([{
						title: 'Печать книг малым тиражом',
						text: ['От автора книга попадает к издателю, а от него – в типографию. Таков путь литературных произведений к читателям. Благодаря технологиям оперативной малотиражной печати издать книгу сегодня по бюджету любому начинающему автору. Компания «Новые Печатные Технологии» с удовольствием готова посодействовать начинающим писателям, поэтам и авторам научных работ, если им необходимо напечатать книгу малым тиражом.', 'Такая услуга может быть полезной в нескольких случаях. Печать книг малыми тиражами актуальна для молодых авторов в качестве «пробы пера». Для них это возможность увидеть свое произведение глазами читателя, облачить его в осязаемую форму. Авторам небольших сборников малотиражная полиграфия позволяет издавать подарочные издания в небольшом количестве экземпляров. Типография печатает книги малым тиражом, если речь идет об издании научно-практической литературы.']
					}, {
						title: 'Оперативная малотиражная полиграфия',
						text: ['Для нашей типографии малые тиражи – это особая область работы. Помимо печати книг типография предлагает оперативную малотиражную полиграфическую продукцию для нужд бизнеса. Благодаря работе с цифровым печатным оборудованием премиум-класса выполнение заказа возможно в самые кратчайшие сроки. Ассортимент малостраничной полиграфии для бизнеса включает визитные карточки, карманные и перекидные календари, брошюры и рекламные буклеты, флаеры для маркетинговых акций, POS-материалы, полиграфические бизнес-сувениры и любую печатную продукцию для фирменного стиля вашей компании.', 'Наша типография выполнит заказ любой сложности, не экономя на качестве. Мы сделаем все, чтобы ваша задумка получила яркое воплощение!']
					}])