.descriptions {
	float: right;
	width: 64%;
	padding-right: 2.1%;
	
	&__block {
		margin-bottom: 2.3em;
		
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	
	&__title {
		margin: 0 0 1em 1%;
		font-size: @size__main-title;
		color: @color__main-title;
		font-weight: normal;
	}
	
	&__text {
		margin: 0 0 1em 4.5%;
		line-height: 1.5;
		color: @color__main-text;
		
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}