.footer {
	//breakpoints
@break1: 1070px;
@break2: 900px;
@break3: 750px;
@break4: 650px;
@break5: 600px;
@break6: 470px;
@break7: 350px;
	
	position: relative;
	width: 96.16%;
	margin: 0 auto;
	color: @color__footer-text;
	
	&:before {
		content: '';
		position: absolute;
		width: 80%;
		height: 50%;
		background: rgba(0, 0, 0, 0.35);
		top: 7%;
		left: 10%;
		border-radius: 50%;
		box-shadow: 0px 0px 70px 15px rgba(0, 0, 0, 0.54);
	}
	
	&:after {
		content: '';
		position: absolute;
		bottom: -38px;
		left: -2%;
		width: 104%;
		height: 36px;
		background: url(../images/offers/offers-shadow.png) no-repeat center top;
		background-size: 100% 100%;
	}
	
	&-parts {
		position: relative;
		width: 104%;
		margin-left: -2%;
		margin-bottom: 3px;
		padding: 2.5% 6% 0;
		background: white linear-gradient(to right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.06) 75%, rgba(0, 0, 0, 0.15) 100%);
		border: 1px solid #f4f4f4;
		border-radius: 5px;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
		
		&:first-of-type {
			.footer-contacts {
				display: none;
				
				@media(max-width: @break3) {
					display: block;
					width: 60%;
				}
			}
			
			@media(max-width: @break2) {
				padding: 2.5% 3% 0;
			}
		}
		
		&:last-of-type {
			margin-bottom: 28px;
			
			@media(max-width: @break1) {
				padding-bottom: 85px;
			}
			
			@media(max-width: @break3) {
				padding-top: 15px;
				padding-bottom: 15px;
			}
			
			@media(max-width: @break4) {
				padding-bottom: 65px;
			}
			
			@media(max-width: @break6) {
				padding-bottom: 120px;
			}
			
			&:before {
				content: '';
				position: absolute;
				top: -14px;
				left: 1%;
				width: 98%;
				height: 22px;
				background:
					url(../images/footer/footer-ring--left1.png) left center,
					url(../images/footer/footer-ring--left2.png) 33% center,
					url(../images/footer/footer-ring--right2.png) 67% center,
					url(../images/footer/footer-ring--right1.png) right center;
				background-repeat: no-repeat;
				background-size: 9px 21px;
			}
			
			.footer-contacts {
				@media(max-width: @break3) {
					display: none;
				}
			}
		}
	}
	
	&__title {
		margin-bottom: 0.3em;
		color: @color__footer-title;
		font-family: @font-bold;
		
		@media(max-width: @break1) {
			font-size: 13px;
		}
		
		@media(max-width: @break5) {
			font-size: 10px;
		}
	}
	
	&-menu {
		.reset-ul();
		text-align: justify;
		
		&:after {
			content: '';
			display: inline-block;
			width: 100%;
		}
		
		&__block {
			@media(max-width: @break3) {
				width: 40%;
				padding-left: 11px;
				float: left;
			}
		}
		
		&__item {
			display: inline-block;
			width: 16%;
			vertical-align: top;
			text-align: left;
			line-height: 1.42;
			
			@media(max-width: @break3) {
				width: 100%;
			}
			
			&-name {
				.reset-a();
				position: relative;
				display: block;
				
				&:hover, &:active {
					text-decoration: underline;
				}
			}
			
			&--profile>a:before,
			&--home>a:before {
				content: '';
				position: absolute;
				top: 3px;
				left: -15%;
				background-repeat: no-repeat;
				
				@media(max-width: @break1) {
					left: -14px;
				}
			}
		}
		
		&>&__item {
			padding: 0 1.5% 0 2%;
		}
		
		&_sub {
			padding: 0;
			font-size: @size__footer-submenu;
			color: @color__footer-text;
			font-family: @font;
			
			@media(max-width: @break3) {
				display: none;
			}
			
			.footer-menu__item {
				width: 100%;
			}
		}
	}
	
	&-phone,
	&-pay,
	&-contacts {
		float: left;
	}
	
	&-qr {
		float: right;
	}
	
	&-phone {
		width: 23%;
		
		@media(max-width: @break1) {
			width: 36%;
		}
		
		@media(max-width: @break3) {
			width: 35%;
		}
		
		@media(max-width: @break4) {
			width: 100%;
			padding-right: 100px;
		}
		
		&__block {margin: 0;}
		
		&__number {
			display: inline-block;
			margin-bottom: 0.3em;
			font-size: @size__footer-phone;
			color: @color__footer-phone;
			
			@media(max-width: @break3) {
				font-size: 18px;
			}
			
			@media(max-width: @break6) {
				font-size: 14px;
			}
			
			@media(max-width: @break7) {
				font-size: 10px;
			}
			
			strong {
				display: block;
				font-size: @size__footer-phone--big;
				font-weight: normal;
				
				@media(max-width: @break4) {
					display: inline-block;
					padding-left: 5px;
					vertical-align: middle;
				}
			}
		}
		
		&__recall {
			.reset-a();
			position: relative;
			display: block;
			margin-left: 70px;
			font-size: @size__footer-recall;
			
			@media(max-width: @break3) {
				margin-left: 50px;
			}
			
			@media(max-width: @break4) {
				margin-left: 0;
			}
			
			&:before {
				content: '';
				display: inline-block;
				margin-right: 7px;
			}
			
			&:after {
				content: '';
				position: absolute;
				left: 11px;
				bottom: 0;
				width: 102px;
				border-bottom: 1px dashed @color__footer-text;
				
				@media(max-width: @break1) {
					left: 12px;
				}
			}
		}
	}
	
	&-pay {
		width: 27%;
		
		@media(max-width: @break1) {
			position: absolute;
			bottom: 0;
			left: 6%;
			width: 100%;
		}
		
		@media(max-width: @break3) {
			position: relative;
			width: 65%;
			padding-right: 100px;
			left: 0;
		}
		
		@media(max-width: @break4) {
			position: absolute;
			bottom: 0;
			left: 6%;
			width: 88%;
			padding-right: 0;
		}
		
		&__item {
			display: inline-block;
			width: 64px;
			overflow: hidden;
			margin-right: 4%;
			text-decoration: none;
			
			@media(max-width: @break4) {
				width: 45px;
			}
			
			&-row {
				display: none;
				
				@media(max-width: @break6) {
					display: block;
				}
			}
			
			img {
				vertical-align: top;
				width: (100% * 12);
				height: auto;
			}
			
			.generate-footer-pay(6);
		}
	}
	
	&-contacts {
		width: 40%;
		
		@media(max-width: @break1) {
			width: 54%;
		}
		
		@media(max-width: @break5) {
			padding-left: 10px;
		}
		
		&__item {
			margin: 0 0;
			line-height: 1.8;
			
			@media(max-width: @break5) {
				font-size: 10px;
			}
			
			&:not(.footer-contacts__item--mail):before,
			&--mail a:before {
				content: '';
				display: inline-block;
				margin-right: 5px;
				background-repeat: no-repeat;
			}
			
			&--mail a {
				.reset-a();
				
				&:first-child {
					margin-right: 22px;
				}
				
				@media(max-width: @break6) {
					display: block;
					
					&:first-child {
						margin-right: 0;
					}
					
					&:last-child {
						padding-bottom: 15px;
					}
				}
			}
		}
	}
	
	&-qr {
		width: 10%;
		
		@media(max-width: @break3) {
			position: absolute;
			width: 88px;
			top: 15px;
			right: 6%;
		}
		
		img {
			max-width: 88px;
			width: 100%;
			height: auto;
		}
	}
	
	&-copyright {
		margin: 0 0 28px 50px;
		font-family: @family__footer-copyright;
		font-size: @size__footer-copyright;
		
		a {.reset-a();}
	}
}

.generate-footer-pay(@n, @i: 1) when (@i =< @n) {
	@items:
		maestro,
		mastercard,
		visa,
		paypal,
		webmoney,
		qiwi;
	@item: extract(@items, @i);
	
	@margin: -(100% * (@i - 1));
	@hover: -(100% * @n) + @margin;
	
	&--@{item} img {margin-left: @margin;}
	&--@{item}:hover img, &--@{item}:active img {margin-left: @hover;}

	.generate-footer-pay(@n, (@i + 1));
}