//breakpoints
@break1: 950px;
@break2: 650px;

.formates {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 310px;
	background: linear-gradient(to top, #e1e1e1 97%, #f3f3f3);
	border-radius: 5px;
	border: 1px solid #b4b4b4;
	box-shadow:
		inset 0 1px 0 0 white,
		0 1px 3px rgba(0, 0, 0, 0.3);
	
	@media(max-width: @break1) {
		width: 200px;
	}
	
	@media(max-width: @break2) {
		display: none;
	}
	
	//общий слайдер
	&-slider {
		&__input {display: none;}
		
		&__controls {
			position: absolute;
			top: 20px;
			height: 105px;
			z-index: 15;
			
			@media(max-width: @break1) {
				height: 70px;
			}
			
			label {
				float: left;
				width: (100% / 3);
				padding-bottom: 1px;
				overflow: hidden;
				text-align: center;
				color: #454c5c;
				cursor: pointer;
				
				&:hover {
					color: #399ee5;
				}
				
				img {
					margin-bottom: 15px;
					width: 600%;
					
					@media(max-width: @break1) {
						margin-bottom: 5px;
					}
				}
				
				span {
					font-size: 18px;
					border-bottom: 1px dashed #454c5c;
					
					@media(max-width: @break1) {
						font-size: 13px;
					}
				}
				
				&:hover span {border-bottom-color: #399ee5;}
			}
			
			&_scroll {
				position: absolute;
				bottom: -8px;
				left: 3.5%;
				width: 93%;
				
				@media(max-width: @break1) {
					bottom: -11px;
				}
				
				&-bar {
					width: 100%;
					height: 5px;
					background-color: rgb(53, 152, 203);
					border-radius: 5px 5px 30px 30px;
					box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.4);
				}
				
				&-control {
					position: absolute;
					top: -25px;
					margin-left: -20px;
					
					@media(max-width: @break1) {
						@per: 0.75;
						top: -19px;
						width: (40px * @per);
						height: (31px * @per);
						margin-left: -15px;
						background-size: (222px * @per) (218px * @per);
						background-position: (0px * @per) (-187px * @per);
					}
				}
			}
		}
		
		//сам общий слайдер
		&__box {
			position: absolute;
			bottom: 0;
			top: 125px;
			left: 0;
			width: 100%;
			padding: 8px 3px 5px;
			background:
				linear-gradient(transparent 3%, #63c2f4 3%, #63c2f4 98%, transparent 98%),
				radial-gradient(50% 10% at bottom, #3494c6 97%, transparent 101%),
				linear-gradient(-56.5deg, #63c2f4 51%, transparent 52%),
				linear-gradient(56.5deg, #63c2f4 51%, #9dd7f5 52%);
			border-radius: 3px;
			border: 1px solid #47ace1;
			box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.2);
			
			@media(max-width: @break1) {
				top: 93px;
			}
		}
		
		&__inner {
			position: relative;
			height: 100%;
			background: linear-gradient(#f6f6f6, white, #f6f6f6);
			border-radius: 7px;
			box-shadow:
				inset 0 -1px 1px 0px rgba(255, 255, 255, .5),
				inset 0 -5px 0 -2px #8FD1F4,
				inset 0 1px 1px 0px rgba(255, 255, 255, .9),
				inset 0 18px 0 -15px #3598cb,
				inset 0 19px 0 -15px #2677a6,
				inset 0 10px 20px -5px rgba(0, 0, 0, 0.5),
				inset 0 -10px 20px -5px rgba(0, 0, 0, 0.5);
				
			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 42px;
				z-index: 10;
			}
			
			&:before {
				top: 2px;
				border-radius: 3px 3px 0 0;
				background: linear-gradient(rgba(240, 240, 240, 0.7) 45%, transparent);
				box-shadow: inset 0 15px 20px -15px;
			}
			
			&:after {
				bottom: 3px;
				border-radius: 0 0 3px 3px;
				background: linear-gradient(to top, rgba(240, 240, 240, 0.7) 45%, transparent);
				box-shadow: inset 0 -15px 20px -15px;
			}
		}
		
		//элемент слайдера
		&__item {
			display: none;
			height: 100%;
		}
		
		.generate-formates__slider(3);
	}
	
	&-item {
		//внутренний сладер
		&-slider {
			position: relative;
			height: 100%;
			padding: 3px 28px 3px 22px;
		}
		
		&__box {
			position: relative;
			height: 100%;
			overflow: hidden;
			
			//всплывающее описание элементов внутреннего слайдера, общее
			&--pops {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
			}
		}
		
		&__inner {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
		}
		
		//элемент внутреннего слайдера
		&__item {
			overflow: hidden;
			padding: 5px 0;
			border-bottom: 1px dashed #b2b2b2;
			
			&:last-child {border-bottom: none;}
			
			//всплывающее описание отдельного элемента внутреннего слайдера, общее
			&--pops {
				display: none;
				position: absolute;
				width: 254px;
				left: -100px;
				bottom: 50%;
				margin-bottom: 40px;
				z-index: 50;
				background-position: center;
				background-repeat: repeat-y;
				background-size: 100% auto;
				
				.retina('../images/formates/clouds/formates_cloud--center@', 254, 'png');
				
				@media(max-width: @break1) {
					left: -70px;
				}
				
				&:before, &:after {
					content: '';
					position: absolute;
					left: 50%;
					margin-left: -(254px / 2);
					width: 254px;
					background-size: 100% 100%;
					background-repeat: no-repeat;
					background-position: center top;
				}
				
				&:before {
					@h: 16px;
					top: -@h;
					height: @h;
					.retina('../images/formates/clouds/formates_cloud--top@', 254, 'png');
				}
				
				&:after {
					@h: 41px;
					bottom: -@h;
					height: @h;
					.retina('../images/formates/clouds/formates_cloud--bottom@', 254, 'png');
				}
				
				&-close {
					.reset-a();
					position: absolute;
					@w: 23px;
					width: @w;
					height: @w;
					top: -22px;
					right: -5px;
					padding-left: 5px;
					line-height: 20px;
					background: white;
					color: #bf0000;
					font-size: 14px;
					font-family: 'Comic Sans MS';
					text-transform: uppercase;
					border: 1px solid #a9a9a9;
					border-radius: 50%;
					box-shadow: 0 0 5px 0 rgba(0, 0, 0, .65);
					
					&:visited {
						color: #bf0000;
					}
					
					&:hover, &:active {
						color: #555;
					}
				}
			}
		}
		
		&__text {
			text-align: center;
			margin: 0;
			
			@media(max-width: @break1) {
				font-size: 12px;
			}
			
			&--pops {
				position: relative;
				z-index: 20;
				padding: 4% 7.9% ;
			}
		}
		
		&__scroll {
			position: absolute;
			top: 3px;
			height: 98.8%;
			right: 0;
			z-index: 15;
			
			&_bar {
				width: 10px;
				height: 100%;
				background: rgba(0, 0, 0, .05);
				border-radius: 0 5px 5px 0;
			}
			
			&_control {
				position: absolute;
				width: 4px;
				height: 120px;
				top: 20%;
				right: 50%;
				margin-right: -2px;
				background: rgba(0, 0, 0, .3);
				border-radius: 2px;
			}
		}
	}
	
	//элемент Форматы
	&-formates {
		&__img {
			width: 100%;

			img {
				width: (1800%);
			}
		}
		
		.generate-formates__formates(9);
	}
	
	//элемент Paper
	&-paper {
		&__img {
			width: 100%;

			img {
				width: (1800%);
			}
		}
		
		.generate-formates__formates(9);
	}
	
	//элемент Templates
	&-templates {
		&__img {
			width: 100%;

			img {
				width: (1800%);
			}
		}
		
		.generate-formates__formates(9);
	}
}

.generate-formates__slider(@n, @i: 1) when (@i =< @n) {
	@items:
		formates,
		paper,
		templates;
	@item: extract(@items, @i);
	
	@margin: -(100% * (@i - 1));
	@hover: -(100% * @n) + @margin;
	
	@controls: 15% + (35% * (@i - 1));
	
	&__controls label[for='formates-slider--@{item}'] img {
		margin-left: @margin;
		
		&:hover {
			margin-left: @hover;
		}
	}
	
	&__input#formates-slider--@{item}:checked~.formates-slider__controls label[for='formates-slider--@{item}'] {
		color: #399ee5;
	
		img{
			margin-bottom: 0;
			margin-left: @hover;
			
			@media(max-width: @break1) {
				margin-bottom: -5px;
			}
		}
		
		span {
			border-bottom: 1px dashed #399ee5;
		}
	}
	
	&__input#formates-slider--@{item}:checked~.formates-slider__controls .formates-slider__controls_scroll-control {
		left: @controls;
	}
	
	&__input#formates-slider--@{item}:checked~&__box .formates-@{item} {
		display: block;
	}

	.generate-formates__slider(@n, (@i + 1));
}

.generate-formates__formates(@n, @i: 1) when (@i =< @n) {
	@items:
		a0,
		a1,
		a2,
		a3,
		a4,
		a5,
		a6,
		a7,
		a8;
	@item: extract(@items, @i);
	
	@margin: -(200% * (@i - 1));
	@hover: -100% + @margin;
	
	&__@{item} img {margin-left: @margin;}
	&__@{item}:hover img {margin-left: @hover;}

	.generate-formates__formates(@n, (@i + 1));
}