.container--main {
	position: relative;
	width: 96.16%;
	padding: 2%;
	padding-bottom: 3.93em;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, .3);
	
	@media(max-width: 470px) {
		width: 100%;
	}
	
	@media(max-width: 450px) {
		padding-bottom: 25px;
	}
}

.body-index {
	.container--main {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	}
}

.main-content {
	position: relative;
	margin: 0 20px 3.93em;
	overflow: hidden;
}

@import url('breadcrumbs.less');

@import url('seo.less');

@import url('offers.less');
@import url('news.less');
@import url('formates.less');
@import url('content.less');
@import url('teasers.less');

@import url('right-column/right-column.less');
@import url('calculator/calculator.less');
@import url('multi_sheet.less');

