.offers {
	position: relative;
	width: 104%;
	margin-left: -2%;
	margin-bottom: 30px;
	padding: 20px;
	background: white linear-gradient(to right, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.03) 25%, rgba(0, 0, 0, 0.03) 75%, rgba(0, 0, 0, 0.09) 100%);
	border-radius: 5px;
	border: 2px solid white;
	box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.2), 0 0px 4px 0 rgba(0, 0, 0, 0.4);
	
	&:after {
		content: '';
		position: absolute;
		bottom: -38px;
		left: 0;
		width: 100%;
		height: 36px;
		background: url(../images/offers/offers-shadow.png) no-repeat center top;
		background-size: 100% 100%;
	}
	
	&-title {
		padding-left: 20px;
		margin-bottom: 20px;
		
		&__text {
			float: left;
			width: 25%;
			margin: 0;
			font-size: @size__offers-header-text;
			color: @color__offers-header-text;
		}
	}
	
	&-slider {
		&__input {
			display: none;
		}
		
		&__controls {
			float: right;
			width: 72.5%;
			height: 40px;
			margin: 0 1.5% 0 1%;
			padding-top: 1px;
			text-align: justify;
			background-color: #dee0e2;
			border-radius: 20px;
			box-shadow: 
				inset 0 0 8px 0 rgba(0, 0, 0, .1), 
				inset 0 2px 3px 0 rgba(0, 0, 0, .25), 
				0 1px 0 0 white;
			
			&:after {
				content: '';
				display: inline-block;
				width: 100%;
			}
			
			label {
				display: inline-block;
				padding-bottom: 12px;
				width: 32.9%;
				text-align: center;
				line-height: 37px;
				font-size: @size__offers-header;
				color: @color__offers-header;
				background-repeat: no-repeat;
				background-position: center top;
				background-size: 100% 49px;
				text-shadow: 0 1px 0 white;
			}
		}
		
		&__item {
			display: none;
		}
		
		.generate-offers__slider(3);
	}
}