extends ../../../../layouts/private_room

block variables
	-var pageID = [1, 3, 2]
	-var specClass = ''
	-var pageClass = 'private_room'
	-var pageSubclass = 'calculation'

block scripts_upper

block header

block content
	include ../../../../blocks/private_room/calculation


block scripts