extends ../../../../layouts/private_room

block variables
	-var pageID = [1, 3, 1]
	-var specClass = ''
	-var pageClass = 'private_room'
	-var pageSubclass = 'projects'

block scripts_upper

block header

block content
	include ../../../../blocks/private_room/projects


block scripts