extends ../layouts/right-column

block variables
	-var pageID = a
	-var pageClass = 'body-calculator'
	-var specClass = 'sprite_icon-footer-clip--left sprite_icon-footer-clip--right'

block scripts_upper

block content
	include ../blocks/calculator/calculator

block right-sidebar

block content-bottom
	include ../blocks/teasers


block scripts
	script(src="../scripts/carousel.js")
	script(src="../scripts/calc_page_scroll.js")