extends ../layouts/right-column1

block variables
	-var pageID = a
	-var pageClass = 'body-calculator'
	-var specClass = 'sprite_icon-footer-clip--left sprite_icon-footer-clip--right'

block scripts_upper

block content
	include ../blocks/calculator1/calculator1


block scripts
	