extends ../layouts/experiment


block content
	-var items = [1, 2, 3, 4, 5, 6, 7]

	.container
		ul.carousel
			each item in items
				li
					div=item

block scripts
	script(src="../scripts/carousel.js")


