extends ../layouts/default

block variables
	-var files = 0
	-var pageID = a
	-var pageClass = 'body-index'
	-var specClass = ''

block scripts_upper

block header
	include ../blocks/header/header_slider

block content
	include ../blocks/offers
	include ../blocks/news
	include ../blocks/main
	include ../blocks/teasers


block scripts
	script(src="../scripts/scrolls-index.js")