extends ../layouts/default

block variables
	-var pageID = a
	-var specClass = ''

block scripts_upper
//	script(src="../scripts/libs/easy-pie-chart.js")

block content
	include ../blocks/action
	include ../blocks/popular
	include ../blocks/features
	include ../blocks/workmap
	include ../blocks/services
	include ../blocks/equipment
	include ../blocks/clients
	include ../blocks/news01
	include ../blocks/contacts


block scripts
//	script(src="../scripts/timer.js")