extends ../layouts/default

block variables
	-var pageID = [0]
	-var pageClass = 'body-index'
	-var specClass = ''

block scripts_upper

block header
	include ../blocks/header/header_slider

block content
	include ../blocks/index/index
	include ../blocks/teasers


block scripts
	script(src="../scripts/scrolls-index.js")