extends ../layouts/default

block variables
	-var pageID = a
	-var specClass = ''

block scripts_upper

block content
	include ../blocks/offers
	include ../blocks/news
	include ../blocks/main
	include ../blocks/teasers


block scripts