//-инпуты находятся в хедере блока, тут только картинки с описанием

mixin print_pages(name, id, items)
	.clearfix(class=name + '__item' + ' ' + name + '__item--' + id)
		each item in items
			if id == item.id
				each img in item.img
					figure(class=name + '__img' + ' ' + name + '__img--' + img.src + ' ' + name + '__img--' + id)
						+picture({
							name: img.name,
							adress: '../images/calculator/' + name + '/' + name + '@',
							ext: 'png'
						}, {
							main: {
								width: 328,
								img: 328
							}
						})
						figcaption(class=name + '__img-name')=img.name
				p(class=name + '__text' + ' ' + name + '-desc__text--' + id)=item.desc


mixin pages(name, id)
	+print_pages(name, id, [{
		id: 'pages_1',
		img: [{
			name: 'Лицевая сторона',
			src: 'face',
		}, {
			name: 'Оборотная сторона',
			src: 'reverse',
		}],
		desc: '4 - х страничная печать обычно используется в брошюрировании и элементах фирменного стиля.'
	}, {
		id: 'pages_2',
		img: [{
			name: 'Лицевая сторона',
			src: 'face',
		}, {
			name: 'Оборотная сторона',
			src: 'reverse',
		}],
		desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus odit natus repudiandae enim totam, inventore saepe! Dolorum assumenda dolore mollitia accusamus, facere dolores hic, eius officiis voluptatum reiciendis aliquam, rem!'
	}, {
		id: 'pages_3',
		img: [{
			name: 'Лицевая сторона',
			src: 'face',
		}, {
			name: 'Оборотная сторона',
			src: 'reverse',
		}],
		desc: 'Smth else'
	}])