footer.footer
	.footer-parts.clearfix
		include footer/footer-menu
	.footer-parts.clearfix
		include footer/footer-bottom

p.footer-copyright
	| © 2010—2013 
	a(href='/') web2book.ru 
	| Все права защищены
