title web2book
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(href="../css/style.css" rel="stylesheet")
script(src="../scripts/libs/modernizr.custom.05259.js")
script(src="../scripts/libs/jquery-1.11.3.min.js")
script(src="../scripts/libs/jquery.viewportchecker.min.js")
script(src="../scripts/libs/tinyscrollbar-2.4.2/lib/jquery.tinyscrollbar.js")
script(src="../scripts/libs/jqueryDotdotdot/jquery.dotdotdot.min.js")