mixin news(items)
	each item in items
		.news__item
			.news-header
				.news-header__date
					span.news-header__date--day=item.date.day
					span.news-header__date--month=item.date.month
				a(href='/').news-header__title=item.title
			.news-content
				p=item.news


.news
	.news__block
		+news([{
					date: {
							day: '09',
							month: 'сен'
						},
					title: 'Офис компании Дениса Олейникова Prostoprint.com захватил УБОП',
					news: 'От автора книга попадает к издателю, а от него – в типографию. Таков путь литературных произведений к читателям. Благодаря технологиям оперативной...'
					}, {
					date: {
							day: '30',
							month: 'авг'
						},
					title: 'Первые в мире книги со спецэффектами',
					news: 'От автора книга попадает к издателю, а от него – в типографию. Таков путь литературных произведений к читателям. Благодаря технологиям оперативной...'
					}, {
					date: {
							day: '27',
							month: 'авг'
						},
					title: 'Женщины предпочитают ридеры, а мужчины больше любят планшеты',
					news: 'От автора книга попадает к издателю, а от него – в типографию. Таков путь литературных произведений к читателям. Благодаря технологиям оперативной...'
					}])
	a.news__all(href='/') Все новости