mixin teasers(items)
	each item in items
		a(class=('teasers__item teasers__item--' + item.id) href=item.href)=item.text
			if item.id == 'consultation'
				span.teasers__item-sub.teasers__item-sub--online=item.sub
				span.teasers__item-sub.teasers__item-sub--offline=item.sub_offline
			else
				span.teasers__item-sub=item.sub


.teasers
	+teasers([{
					id: 'books',
					href: '/',
					text: 'Книги по требованию',
					sub: 'От покупателя'
				}, {
					id: 'print',
					href: '/',
					text: 'Печать по требованию',
					sub: '«Быстрая» печать'
				}, {
					id: 'questions',
					href: '/',
					text: 'Вопросы и ответы',
					sub: 'Задайте вопрос'
				}, {
					id: 'consultation',
					href: '/',
					text: 'Online консультант',
					sub: 'В сети',
					sub_offline: 'Не в сети'
				}])