mixin news(items)
	-var months = ['янв', 'фев', 'мар', 'апр', 'май', 'июн', 'июл', 'авг', 'сен', 'окт', 'ноя', 'дек']
	each item in items
		.news__item
			.news-header
				.news-header__date
					span.news-header__date--day=item.date.day
					span.news-header__date--month=months[item.date.month - 1]
				a(href='/').news-header__title=item.title
			.news-content
				p=item.news


.news
	.news__block.clearfix
		+news(news)
	a.news__all(href='/') Все новости