-var services = []
+itemBuild(services, [{
	id: 'value',
	href: '/',
	title: 'Калькулятор стоимости',
	text: 'Рассчитайте стоимость печати',
	hover: ['Мы не требуем обязательной верстки альбомов в нашей программе. Если Вам привычней и удобней пользоваться другими программами (в данном случае Photoshop), то продолжайте им пользоваться и создавать альбомы так, как Вы привыкли.', 'Однако Вам следует учитывать, что полученные от Вас файлы (в формате JPG) будут собираться нашими сотрудниками с использованием нашей программы. Соответственно данный раздел предназначен для того, что бы и Вам и нам было удобней работать и при этом мы смогли бы']
}, {
	id: 'cover',
	href: '/',
	title: 'Раскладка обложки',
	text: 'Скачать технические шаблоны обложки',
	hover: ['Мы не требуем обязательной верстки альбомов в нашей программе. Если Вам привычней и удобней пользоваться другими программами (в данном случае Photoshop), то продолжайте им пользоваться и создавать альбомы так, как Вы привыкли.', 'Однако Вам следует учитывать, что полученные от Вас файлы (в формате JPG) будут собираться нашими сотрудниками с использованием нашей программы. Соответственно данный раздел предназначен для того, что бы и Вам и нам было удобней работать и при этом мы смогли бы']
}, {
	id: 'width',
	href: '/',
	title: 'Калькулятор толщины',
	text: 'Толщина корешка при количестве полос',
	hover: ['Мы не требуем обязательной верстки альбомов в нашей программе. Если Вам привычней и удобней пользоваться другими программами (в данном случае Photoshop), то продолжайте им пользоваться и создавать альбомы так, как Вы привыкли.', 'Однако Вам следует учитывать, что полученные от Вас файлы (в формате JPG) будут собираться нашими сотрудниками с использованием нашей программы. Соответственно данный раздел предназначен для того, что бы и Вам и нам было удобней работать и при этом мы смогли бы']
}, {
	id: 'profile',
	href: '/',
	title: 'Личный кабинет',
	text: 'Работа с файлами и проектами',
	hover: ['Мы не требуем обязательной верстки альбомов в нашей программе. Если Вам привычней и удобней пользоваться другими программами (в данном случае Photoshop), то продолжайте им пользоваться и создавать альбомы так, как Вы привыкли.', 'Однако Вам следует учитывать, что полученные от Вас файлы (в формате JPG) будут собираться нашими сотрудниками с использованием нашей программы. Соответственно данный раздел предназначен для того, что бы и Вам и нам было удобней работать и при этом мы смогли бы']
}, {
	id: 'lib',
	href: '/',
	title: 'Онлайн библиотека',
	text: 'Публикуйте свои книги и получайте с них прибыль',
	hover: ['Мы не требуем обязательной верстки альбомов в нашей программе. Если Вам привычней и удобней пользоваться другими программами (в данном случае Photoshop), то продолжайте им пользоваться и создавать альбомы так, как Вы привыкли.', 'Однако Вам следует учитывать, что полученные от Вас файлы (в формате JPG) будут собираться нашими сотрудниками с использованием нашей программы. Соответственно данный раздел предназначен для того, что бы и Вам и нам было удобней работать и при этом мы смогли бы']
}])