html,
body {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	background: url(../images/bg-main.jpg);
	font-family: $font;
	font-size: $size;
}

.body-wrapper {
	position: relative;
	max-width: 1150px;
	margin: 0 auto 424px;
}

main {
	//max-width: 1040px;
	width: 90.435%;
	margin: 0 auto;
}

.footer-wrapper {
	position: absolute;
	//max-width: 1040px;
	width: 90.435%;
	left: 50%;
	margin-left: -(90.435% / 2);
	bottom: -424px;
}

.svg-container {
	display: none;
}

* {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
}