.calc-opener-mix(@n, @i: 1) when (@i =< @n) {
	@items:
		print,
		cover,
		block,
		inset;
	@item: extract(@items, @i);
	
	input#@{item}-open:checked~.@{item} {
		display: block;
	}

	input#@{item}-open:checked~label[for='@{item}-open'] .@{item}-open__on {
		display: none;
	}

	input#@{item}-open:checked~label[for='@{item}-open'] .@{item}-open__off {
		display: block;
	}
	
	.calc-opener-mix(@n, (@i + 1));
}

//put to .calculator__switcher
.calc-switcher(@id) {
	&-inputs {
		display: none;
	}
	
	&-labels {
		background: gray;
		
		label {
			display: inline-block;
			width: 20px;
			height: 20px;
			opacity: 0;
			border-radius: 50%;
		}
	}
	
	input[id='@{id}-off']:checked~&-labels label[for='@{id}-off'] {
		background: blue;
		opacity: 1;
	}

	input[id='@{id}-on']:checked~&-labels {
		background: white;
		opacity: 1;
	}

	input[id='@{id}-on']:checked~&-labels label[for='@{id}-on'] {
		background: blue;
		opacity: 1;
	}
}

//scroller generation
.calc-scroller-generate(@id, @items, @n, @i: 1) when (@i =< @n) {
	@item: extract(@items, @i);
	
	input#@{id}-@{item}:checked~&-items label[for='@{id}-@{item}'] {opacity: 1;}
	
	.calc-scroller-generate(@id, @items, @n, (@i + 1));
}

.calc-scroller-img-generate(@id, @items, @n, @i: 1) when (@i =< @n) {
	@item: extract(@items, @i);
	
	@margin: -(100% * (@i - 1));
	@margin-hover: -100% * @n + @margin;
	
	.@{id}-img--@{item} img {
		margin-left: @margin;
	}

	.@{id}-img--@{item}:hover img {
		margin-left: @margin-hover;
	}

	input#@{id}-@{item}:checked~&-items .@{id}-img--@{item} img {
		margin-left: @margin-hover;
	}
	
	.calc-scroller-img-generate(@id, @items, @n, (@i + 1));
}

.calc-scroller-img(@id, @n) when (@id = print_size) {
	@m: @n - 1;
	.@{id}-img img {width: (100% * @m * 2);}

	.calc-scroller-img-generate(@id, @items, @m);
}
.calc-scroller-img(@id, @n) when (default()) {
	@m: @n;
	.@{id}-img img {width: (100% * @m * 2);}

	.calc-scroller-img-generate(@id, @items, @m);
}

//put to .calculator__scroller
.calc-scroller(@id, @items, @n) {
	.@{id}-item {
		width: (100% / @n);
	}

	.calc-scroller-img(@id, @n);
	
	.calc-scroller-generate(@id, @items, @n);
}

//selector generation
.calc-selector-generate(@id, @items, @n, @i: 1) when (@i =< @n) {
	@item: extract(@items, @i);
	
	&-inputs#@{id}-@{item}:checked~.calculator__header--inner label[for='@{id}-@{item}'] {
		background-image: linear-gradient(#3093D8, #BBE7FD);
		box-shadow:
			inset 0 2px 1px -1px rgba(0, 0, 0, 0.85),
			inset -1px -2px 1px -1px rgba(255, 255, 255, 1),
			inset 1px -2px 1px -1px rgba(255, 255, 255, 1),
			inset 0 0px 5px 0 rgba(0, 0, 0, 0.3),
			inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
	}

&-inputs#@{id}-@{item}:checked~.@{id} .@{id}__item--@{item} {
	display: block;
}
	
	.calc-selector-generate(@id, @items, @n, (@i + 1));
}

//put to .print_pages
//@id: print_pages
.calc-selector(@id, @items, @n) {
	&-inputs--main:checked~.calculator__header--inner .print_pages-labels {
		display: block;
	}
	
	.calc-selector-generate(print_pages, @print_pages, 3);
}

.bond_pops-gener(@n, @i: 1) when (@i =< @n) {
	@items:
		pur,
		eva;
	@item: extract(@items, @i);
	
	&--@{item}:hover span {display: block;}

	.bond_pops-gener(@n, (@i + 1));
}