@import url('calc-mixins.less');

@import url('calc-types.less');

@sprite_z980: 0.8;

.calculator {
	font-size: 14px;
	
	@media(max-width: 980px) {
		font-size: 12px;
	}
	
	@media(max-width: 590px) {
		font-size: 10px;
	}
	
	&__section {
		position: relative;
		width: 95%;
		margin: 0 auto 42px;
		padding: 0;
		border: none;
		border-top: 4px solid #50aae6;
		border-bottom: 4px solid #50aae6;
		
		&-opener {
			&_input {display: none;}
			
			&_label {
				position: absolute;
				width: 100%;
				height: 31px;
				left: 0;
				bottom: -31px;
				text-align: center;
				font-size: 14px;
				color: white;
				line-height: 1.6;
				background-repeat: no-repeat;
				background-position: center -4px;
				background-size: 100px 31px;
				border-top: 4px solid #50aae6;
				cursor: pointer;
				.retina('../images/calculator/form_open-label/form_open-label@', 100);
				
				&--on {display: block;}
				&--off {display: none;}
			}
		}
	}
	
	&__header {
		padding: 0.36em 3%;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		
		&--inner {
			position: relative;
		}
	}
	
	&__title {
		display: inline-block;
		margin: 0;
		font-size: 1.71em;
		color: #4c4c4c;
		font-weight: normal;
		
		&--inner {
			margin: 0.4em 0 1em;
			color: #990000;
			font-size: 1.29em;
			font-weight: normal;
			
			&_sub {
				color: #808080;
				font-size: 1em;
			}
		}
	}
	
	&__block {
		padding: 0.36em 3% 1px;
		border: 1px solid #ccc;
		border-bottom: none;
		background: #f0f0f0;
		
		@media(max-width: 980px) {
			padding-left: 2.5%;
			padding-right: 2.5%;
		}
		
		&--circulation {padding-top: 1.43em;}
		
		&--inner {
			margin-bottom: 2em;
		}
		
		input[type='radio'],
		input[type='checkbox'] {
			display: none;
		}
	}
	
	.calc-opener-mix(5);
	
	&__switcher {
		&-inputs {
			display: none;
		}
		
		&-box {
			line-height: 20px;
			
			&--cover_cover {
				position: absolute;
				top: -40px;
				left: 0;
			}
			
			&--cover_effects {
				&-convex {margin-bottom: 0.5em;}
				
				&-convex:after, &-stamping:after {
					content: '';
					display: table;
					clear: both;
				}
			}
			
			&--block_color, &--inset_color {margin-bottom: 2.8em;}
		}
		
		&-name {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
		}

		&-labels {
			position: relative;
			display: inline-block;
			margin-left: 10px;
			width: 48px;
			height: 20px;
			vertical-align: middle;
			background: linear-gradient(#999, #ccc);
			border-radius: (20px / 2);
			box-shadow:
				inset 0 2px 1px -1px rgba(0, 0, 0, 0.85),
				inset -1px -2px 0px -1px rgba(255, 255, 255, 1),
				inset 1px -2px 0px -1px rgba(255, 255, 255, 1),
				inset 0 0px 7px 0 rgba(0, 0, 0, 0.3),
				inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
			
			&--cover_effects {
				&-convex, &-stamping {
					float: right;
				}
			}

			label {
				float: left;
				width: 50%;
				height: 100%;
				opacity: 0;
				cursor: pointer;
				
				&:before {
					content: '';
					position: absolute;
					@w: 16px;
					top: 50%;
					margin-top: -(@w / 2 + 1px);
					width: @w;
					height: @w;
					background: linear-gradient(#86d5fa, #46a6eb);
					border-radius: 50%;
					box-shadow:
						inset 0 2px 1px -1px rgba(204, 238, 255, 1),
						inset 0 -2px 1px -1px rgba(36, 138, 211, 1),
						inset 0 0 1px 0px #61bdf2,
						inset 0 0 2px 1px rgba(153, 255, 255, 0.2),
						0 0 1px 0 rgba(42, 82, 103, 0.3),
						0 1px 2px 0 rgba(0, 0, 0, 0.3);
				}
				
				&:first-child:before {left: 2px;}
				
				&:last-child:before {right: 2px;}
			}
		}
		
		&-img {
			width: 100%;
			overflow: hidden;
			
			img {
				display: none;
				width: 200%;
				height: auto;
			}
			
			&_on {margin-left: -100%;}
		}
		
		&--cover, &--inset {
			display: inline-block;
			vertical-align: bottom;
		}
		
		.calc-switcher-gl(cover);
		.calc-switcher-gl(inset);
		.calc-switcher(cover_cover-color);
		.calc-switcher_cover_effects(cover_effects-convex);
		.calc-switcher_cover_effects(cover_effects-stamping);
		.calc-switcher(block_color);
		.calc-switcher(inset_color);
	}
	
	&__scroller {
		&-items {
			.reset-ul();
			width: 100%;
		}
		
		&-item {
			float: left;
			text-align: center;
		}
		
		&-label-wrapper {
			width: 100%;
			background-repeat: no-repeat;
			background-size: 164px;
			background-position: center;
			.retina('../images/calculator/scroll/calculator_scroll--center@', 164);
		}
		
		&-item:first-child &-label-wrapper {.retina('../images/calculator/scroll/calculator_scroll--left@', 164);}

		&-item:last-child &-label-wrapper {.retina('../images/calculator/scroll/calculator_scroll--right@', 164);}
		
		&-label {
			position: relative;
			display: block;
			margin: 0 auto;
			@w: 24px;
			width: @w;
			height: @w;
			opacity: 0;
			cursor: pointer;
			
			&:before {
				content: '';
				position: absolute;
				@w: 16px;
				left: (24px - @w) / 2;
				top: (24px - @w) / 2;
				width: @w;
				height: @w;
				background: linear-gradient(#86d5fa, #46a6eb);
				border-radius: 50%;
				box-shadow:
					inset 0 2px 1px -1px rgba(204, 238, 255, 1),
					inset 0 -2px 1px -1px rgba(36, 138, 211, 1),
					inset 0 0 1px 0px #61bdf2,
					inset 0 0 2px 1px rgba(153, 255, 255, 0.2),
					0 0 1px 0 rgba(42, 82, 103, 0.3),
					0 1px 2px 0 rgba(0, 0, 0, 0.3);
				}
		}
		
		&-name, &-text {
			display: block;
			line-height: 1.85;
			cursor: pointer;
		}
		
		&-text {
			margin-bottom: 1em;
			color: #808080;
		}
		
		&-img {
			overflow: hidden;
			margin: 0 auto;
			cursor: pointer;
			
			img {height: auto;}
		}
		
		@print_size: a4, a5, a6, other;
		.calc-scroller(print_size, @print_size, 4);
		
		@print_orient: book, album;
		.calc-scroller(print_orient, @print_orient, 2);
		
		@print_bond: pur, eva;
		.calc-scroller(print_bond, @print_bond, 2);
		
		@cover_cover-vals: 4p, 6p;
		.calc-scroller(cover_cover, @cover_cover-vals, 2);
		
		@cover_decoration: glossy, matte, uv, wd;
		.calc-scroller(cover_decoration, @cover_decoration, 4);
	}
	
	&__ruler {
		&-labels {
			.reset-ul();
			position: relative;
			margin-right: 20px;
			height: 80px;
			color: #808080;
			
			&:before {
				content: '';
				position: absolute;
				height: 4px;
				bottom: 29px;
				background: linear-gradient(#868686, #c5c5c5);
				border-radius: 2px;
				box-shadow:
					inset 0 1px 0 0 #666,
					inset 0 -1px 0 0 white;
				z-index: 1;
			}
			
			li {
				position: relative;
				float: left;
				
				&:before {
					content: '';
					position: absolute;
					height: 9px;
					bottom: 13px;
					left: 50%;
					margin-left: -1px;
					border-left: 1px solid #b0b0b0;
					border-right: 1px solid white;
				}
				
				&:first-of-type:before, &:last-of-type:before {
						height: (9px * 2 + 4px);
						bottom: 0px;
				}
			}
			
			label {
				position: relative;
				display: block;
				width: 100%;
				height: 60px;
				text-align: center;
				cursor: pointer;
				z-index: 10;
				
				&:after {
					position: absolute;
					display: none;
					left: 50%;
					margin-left: -9px;
					bottom: -3px;
					z-index: 5;
				}
				
				span {
					position: relative;
					display: block;
					line-height: 20px;
					border: 1px solid transparent;
				}
			}
		}
		
		&-measure {
			position: absolute;
			right: -20px;
			top: 38px;
		}
		
		&-types {
			position: absolute;
			bottom: 0;
		}
		
		&-type {
			&--offset {float: left;}
			
			&--coated {
				float: right;
				color: black;
			}
		}
		
		@paper: 70, 80, 130, 150, 170, 200, 250, 300;
		.calc-ruler(cover_paper, @paper, 8);
		.calc-ruler(block_paper, @paper, 8);
		.calc-ruler(inset_paper, @paper, 8);
	}
	
	&__counter {
		position: relative;
		float: right;
		width: 55%;
		
		&-header {
			float: left;
			width: 45%;
		}
		
		&-btn {
			position: absolute;
			width: 30px;
			height: 37px;
			top: 50%;
			margin-top: -(37px / 2);
			padding: 0;
			border: none;
			background: none;
			outline: none;
			
			&:before {
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -9px;
				
				@media(max-width: 980px) {
					top: 50%;
					margin-top: -(37px / 2 *@sprite_z980);
					margin-left: 0;
					background-size: (70px*@sprite_z980) (37px*@sprite_z980);
					width: 18px*@sprite_z980;
					height: 37px*@sprite_z980;
				}
			}
		}
		
		&-minus {
			left: 0;
			&:before {
				@media(max-width: 980px) {
					left: 1em;
					background-position: 1px 0px;
				}
				
				@media(max-width: 590px) {left: 1.3em;}
			}
		}
		
		&-plus {
			right: 20px;
			
			@media(max-width: 980px) {
				right: 5px;
			}
			
			&:before {
				@media(max-width: 980px) {
					left: 0.21em;
					background-position: -(18px*@sprite_z980) 0px;
				}
			}
		}
		
		&-input {
			margin: 0 50px 0 30px;
			
			@media(max-width: 980px) {
				margin-right: 35px;
			}
			
			input {
				width: 100%;
				padding: 0.3em 0.3em 0.2em;
				text-align: right;
				font-size: 1.29em;
				border: 1px solid #999;
			}
		}
		
		&-measure {
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -8px;
			color: #808080;
		}
	}
	
	.print {
		&_orient-block, &_bond-block {
			width: (97% / 2);
		}
		
		&_orient-block {float: left;}
		&_bond-block {float: right;}
		
		&_pages-block {clear: both;}
		
		&_size {
			&-items {position: relative;}
			
			&-item--other {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
			}
			
			&-img {width: 90%;}
		}
		
		&_other {
			position: absolute;
			width: 100%;
			right: 0;
			bottom: 0;
			top: 88px;
			
			@media(max-width: 980px) {
				top: 80px;
			}
			
			@media(max-width: 590px) {
				top: 70px;
			}
			
			&__inputs {
				span {
					margin-left: 0.25em;
				
					&:first-of-type {color: black;}
				}
			}
			
			&__input {
				width: 3.2em;
				padding: 0.3em 0.2em;
				color: black;
				border: 1px solid #999;
			}
			
			&__page {
				position: absolute;
				top: 1px;
				bottom: 15%;
				right: 1px;
				left: 35.72%;
				background: white;
				border: 1px solid #ccc;
				box-shadow: 0.7px 0.7px 3px 0 rgba(0, 0, 0, 0.4);
			}
			
			&__scroller {
				position: absolute;
				border-radius: 2px;
				
				&--height {
					top: 1px;
					bottom: 15%;
					left: 19%;
					width: 4px;
					background: linear-gradient(to right, #868686, #c5c5c5);
					box-shadow:
						inset 1px 0px 0 0 #666,
						inset -1px 0px 0 0 white;
				}
				
				&--width {
					right: 1px;
					left: 35.72%;
					bottom: 0;
					height: 4px;
					background: linear-gradient(#868686, #c5c5c5);
					box-shadow:
						inset 0 1px 0 0 #666,
						inset 0 -1px 0 0 white;
				}
				
				&-line {
					position: absolute;
					border-radius: 1px;
					
					&--height {
						top: 50px;
						bottom: 1px;
						left: 1px;
						width: 2px;
						background: linear-gradient(to right, #86d6fa, #439edf);
					}
					
					&--width {
						left: 1px;
						right: 50px;
						top: 1px;
						height: 2px;
						background: linear-gradient(#86d6fa, #439edf);
					}
				}
				
				&-thumb {
					position: absolute;
					border-radius: 2px;
					box-shadow:
						inset 1.7px 2px 1px -1px rgba(255, 255, 255, 0.65),
						inset -1.7px -2px 1px -1px rgba(42, 138, 207, 0.75),
						inset 0 0 0 2px rgba(153, 255, 255, 0.2),
						1.5px 2.6px 5px 0 rgba(0, 0, 0, 0.4);
					cursor: pointer;
					
					&--height {
						left: 50%;
						margin-left: -11px;
						top: 44px;
						width: 22px;
						height: 12px;
						background: linear-gradient(#6fcbf5, #46a6eb);
					}
					
					&--width {
						top: 50%;
						margin-top: -11px;
						right: 44px;
						width: 12px;
						height: 22px;
						background: linear-gradient(to right, #6fcbf5, #46a6eb);
					}
				}
			}
		}
		
		&_orient {
			&-img {
				width: 60%;
				height: 97px;
				
				@media(max-width: 590px) {height: 77px;}
			}
		}
		
		&_bond {
			&-img {
				height: 57px;
			
				@media(max-width: 590px) {height: 40px;}
			}
			
			&_pops {
				position: relative;
				display: inline-block;
				margin-left: 0.9em;
				margin-top: -0.45em;
				@w: 16px;
				width: @w;
				height: @w;
				line-height: @w;
				vertical-align: middle;
				background-image: linear-gradient(#bcc7cc, #879399);
				font-family: @font-bold;
				font-size: 0.78em;
				color: white;
				text-decoration: none;
				text-shadow: 0 1px 0 #bcc7cc;
				border-radius: 50%;
				box-shadow:
					inset 0 2px 1px -1px #a1adb2,
					inset 0 -2px 1px -1px #697880,
					inset 0 0 1px 0px #859299,
					inset 0 0 1px 2px rgba(255, 255, 255, 0.25),
					0 0px 1px 0 rgba(0, 0, 0, 0.4);
				
				&:hover, &:active, &:visited {
					color: white;
					text-decoration: none;
				}
				
				span {
					position: absolute;
					display: none;
					right: -10px;
					top: 200%;
					padding: 0.8em;
					width: 29em;
					background: white;
					font-family: @font-italic;
					font-size: 0.85em;
					color: #808080;
					text-shadow: none;
					border: 1px solid #51aeed;
					z-index: 5;
					
					&:before {
						content: '';
						position: absolute;
						top: -6px;
						right: 12px;
						width: 10px;
						height: 10px;
						background: linear-gradient(to right bottom, white 55%, transparent 55%);
						border-left: 1px solid #51aeed;
						border-top: 1px solid #51aeed;
						transform: rotate(45deg);
					}
				}
				
				.bond_pops-gener(2);
			}
		}
		
		&_pages {
			&-labels {
				.reset-ul();
				display: none;
				position: absolute;
				left: 21em;
				top: -0.33em;
				padding: 0.4em;
				background-image: linear-gradient(#b2b2b2, #ccc);
				border-radius: 15px;
				box-shadow:
					inset 0 2px 1px -1px rgba(0, 0, 0, 0.85),
					inset -1px -2px 1px -1px rgba(255, 255, 255, 1),
					inset 1px -2px 1px -1px rgba(255, 255, 255, 1),
					inset 0 0px 5px 0 rgba(0, 0, 0, 0.3),
					inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
				
				&--main {
					position: absolute;
					top: 50%;
					margin-top: -1.08em;
					left: 7.85em;
					width: 12.8em;
					padding: 0.5em 1em;
					background-image: linear-gradient(#b2b2b2, #ccc);
					border-radius: 1.1em;
					box-shadow:
						inset 0 2px 1px -1px rgba(0, 0, 0, 0.85),
						inset -1px -2px 1px -1px rgba(255, 255, 255, 1),
						inset 1px -2px 1px -1px rgba(255, 255, 255, 1),
						inset 0 0px 5px 0 rgba(0, 0, 0, 0.3),
						inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
					cursor: pointer;
					
					&:after {
						position: absolute;
						top: 50%;
						margin-top: -(25px / 2);
						right: 0.7em;
						background-repeat: no-repeat;
						
						@media(max-width: 980px) {
							background-position: -(54px * @sprite_z980) 0px;
							background-size: (70px*@sprite_z980) (37px*@sprite_z980);
							width: 16px*@sprite_z980;
							height: 25px*@sprite_z980;
							margin-top: -(25px / 2*@sprite_z980);
						}
					}
				}
				
				li {
					margin-bottom: 0.4em;
					
					&:last-child {margin-bottom: 0;}
					
					label {
						display: block;
						padding: 0.5em 1.1em;
						border-radius: 1.1em;
						cursor: pointer;
						
						&:hover {
							background-image: linear-gradient(rgb(198, 198, 198), rgb(224, 224, 224));
							box-shadow:
								inset 0 2px 1px -1px rgba(0, 0, 0, 0.85),
								inset -1px -2px 1px -1px rgba(255, 255, 255, 1),
								inset 1px -2px 1px -1px rgba(255, 255, 255, 1),
								inset 0 0px 5px 0 rgba(0, 0, 0, 0.3),
								inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
						}
					}
				}
			}
			
			&__item {
				display: none;
			}
			
			&__img {
				float: left;
				margin: 0;
				margin-right: 2%;
				width: (56% / 2);
				overflow: hidden;
				text-align: center;
				
				img {
					width: 200%;
					height: auto;
				}
				
				&--reverse img {margin-left: -100%;}
			}
			
			&__text {
				float: right;
				width: 38%;
				margin: 0;
				font-family: @font-italic;
				font-size: 0.85em;
				color: #808080;
			}
			
			@print_pages: pages_1, pages_2, pages_3;
			.calc-selector(print_pages, @print_pages, 3);
		}
	}
	
	.cover {
		&_cover {
			width: (97% / 2);
			
			&-vals {float: left;}
			&-color {
				float: right;
				position: relative;
			}
			
			&-block {
				position: relative;
				
				&:after {
					content: '';
					display: table;
					clear: both;
				}
			}
			
			&-vals {
				@media(max-width: 980px) {
					position: absolute;
					top: 3.25em;
					bottom: 0;
				}
			}
			
			&-items {
				width: 92%;
				height: 100%;
				margin-left: 8%;
			}
			
			&-item {
				position: relative;
				width: 100%;
				height: 50%;
			}
			
			&-img {
				margin-left: 0;
				width: 65%;
				
				&--switcher {margin-top: 5%;}
			}
			
			&-label {
				position: absolute;
				left: 50%;
				margin-left: -12px;
				
				&-wrapper {
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					width: (100% - 65%);
					background-size: 12px 100%;
					background-position: center;
					
					@media(max-width: 590px) {background-size: 12px auto;}
				}
				
				&--4p {
					top: 50%;
					margin-top: -7px;
				}
				
				&--6p {
					bottom: 50%;
					margin-bottom: -7px;
				}
			}
			
			&-item:first-child .cover_cover-label-wrapper {.retina('../images/calculator/scroll/vertical/calculator_scroll-vert--top@', 12);}
			
			&-item:last-child .cover_cover-label-wrapper {.retina('../images/calculator/scroll/vertical/calculator_scroll-vert--bottom@', 12);}
			
			&-name {
				position: absolute;
				width: 50%;
				right: -6%;
				
				&--4p {top: 5px;}
				&--6p {bottom: 5px;}
			}
		}
		
		&_paper-block, &_effects-block {width: (97% / 2);}
		
		&_paper {
			&-block {float: left;}
		}
		
		&_effects {
			&-block {float: right;}
			
			&__switcher-container {
				float: right;
				width: 50%;
				
				@media(max-width: 590px) {width: 55%;}
			}
			
			&-items {
				float: left;
				width: 40%;
				
				img {
					display: block;
					width: 100%;
				}
			}
		}
		
		&_decoration {
			&-block {clear: both;}
			
			&-text {
				display: block;
				margin: 0 auto;
				width: 89%;
				font-family: @font-italic;
				font-size: 0.85em;
				color: #808080;
				line-height: 1.4;
			}
		}
	}
	
	.block {
		&_color-block, &_paper-block, &_lines-block {
			width: 45%;
		
			@media(max-width: 980px) {
				width: (97% / 2);
			}
		}
		
		&_color {
			&-block {float: left;}
			
			&-items {
				margin-left: 10%;
				width: 90%;
			}
		}
		
		&_paper {
			&-block {
				float: right;
				margin-top: 0.72em;
				margin-bottom: 3.57em;
			}
		}
		
		&_lines {
			margin-top: 0.29em;
			
			&-block {
				float: right;
				
				&:after {
					content: '';
					display: table;
					clear: both;
				}
			}
			
			&-title {margin: 0;}
		}
	}
	
	.inset {
		&_color-block, &_paper-block, &_vals-block {
			width: 45%;
		
			@media(max-width: 980px) {
				width: (97% / 2);
			}
		}
		
		&_color {
			&-block {float: left;}
			
			&-items {
				margin-left: 10%;
				width: 90%;
			}
		}
		
		&_paper {
			&-block {
				float: right;
				margin-top: 0.72em;
				margin-bottom: 3.57em;
			}
		}
		
		&_vals {
			margin-top: 0.29em;
			
			&-block {
				float: right;
				
				&:after {
					content: '';
					display: table;
					clear: both;
				}
			}
			
			&-title {margin: 0;}
		}
	}
	
	.circulation {
		&_total-block, &_copies-block {
			width: 45%;
		
			@media(max-width: 980px) {
				width: (97% / 2);
			}
		}
		
		&_total {
			float: right;
			width: 30%;
			background-color: #51aeed;
			color: white;
			font-size: 2.57em;
			text-align: center;
			
			&-block {
				position: relative;
				float: left;
				
				&:after {
					content: '';
					display: table;
					clear: both;
				}
			}
			
			&-header {
				float: left;
				width: 67%;
			}
			
			&-title {
				margin: 0;
				color: #4c4c4c;
			}
		}
		
		&_copies {
			@media(max-width: 768px) {
				width: 60%;
			}
			&-block {float: right;}
			
			&-header {
				@media(max-width: 768px) {
					width: 40%;
				}
			}
		}
	}
	
	[class$='_data-title'] {color: black;}
	[class$='_data-block'], [class$='_send-block'] {width: (97% / 2);}
	[class$='_data-block'] {
		float: left;
		
		@media(max-width: 980px) {
			width: 55%;
		}
		
//		@media(max-width: 590px) {
//			width: 100%;
//		}
	}
	[class$='_send-block'] {
		float: right;
		
		@media(max-width: 980px) {
			width: 40%;
		}
		
//		@media(max-width: 590px) {
//			width: 100%;
//		}
	}
	
	.autorization {
		&__field {
			margin-bottom: 0.6em;
			
			&:last-of-type {margin-bottom: 0;}
		}
		
		&__label, &__hint {color: #808080;}
		
		&__label {
			float: left;
			padding: 0.4em 0;
			width: 35%;
			
			&--required {
				margin-left: 5px;
				color: #990000;
			}
			
			&--email_check {
				display: inline-block;
				margin-top: 0.4em;
				font-family: @font__news-all;
				font-size: 0.78em;
				color: #900;
				
				&:before {
					display: inline-block;
					margin-right: 5px;
					line-height: 13px;
					vertical-align: bottom;
				}
			}
			
			&--captcha {
				margin-top: 43px;
				
				@media(max-width: 590px) {margin-top: 35px;}
			}
		}
		
		&__inputs {
			float: right;
			width: 60%;
			
			input {
				.placeholder_color(black);
				width: 100%;
				padding: 0.35em;
				border: 1px solid #999;
				outline: none;
			}
			
			&--tel {
				position: relative;
				padding-left: 3.5em;
				
				input {
					&#autorization_tel_1 {
						position: absolute;
						width: 2.6em;
						top: 0;
						left: 0;
					}
				}
				
				span {
					position: absolute;
					top: 50%;
					margin-top: -0.57em;
					color: #808080;
					
					&:first-of-type {left: -2em;}
					&:last-of-type {left: 2.8em;}
				}
			}
		}
		
		&__captcha {
			&-img {
				float: left;
				width: 90px;
				
				@media(max-width: 590px) {width: 70px;}
				
				img {
					width: 100%;
					height: auto;
				}
			}
			
			&-input#autorization-captcha {
				width: 90px;
				
				@media(max-width: 590px) {width: 70px;}
			}
			
			&-refresh {
				float: left;
				margin-top: 37px;
				font-family: @font__news-all;
				font-size: 0.78em;
				color: #808080;
				
				@media(max-width: 590px) {margin-top: 27px;}
				
				&:before {
					display: inline-block;
					margin-left: 0.7em;
					margin-right: 0.3em;
				}
			}
		}
		
		&__hint {
			margin: 1.6em 0 0;
			padding-left: 38%;
			font-size: 0.85em;
		}
		
		&__text {
			margin-top: 3.9em;
			margin-bottom: 5.7em;
		}
		
		&__sign {
			margin: 2.1em 3.4em 0 0;
			font-family: @font-italic;
			font-size: 0.85em;
			color: #808080;
		}
	}
	
	.autorization, .result {
		&__text {line-height: 1.4;}
		
		&__btn {
			display: block;
			margin: 0 auto;
			width: 78%;
			padding: 0.35em;
			background: linear-gradient(#86d5fa, #46a6eb 74%, #57bff5);
			font-size: 2em;
			line-height: 0.93;
			color: white;
			text-shadow: 0 1px 0 #85d4fa;
			border: none;
			outline: none;
			border-radius: 5px;
			box-shadow:
				inset 0 1px 0 0 rgba(255, 255, 255, 0.65),
				inset 0 -1px 0 0 #2a8acf,
				inset 0 0 0px 2px rgba(255, 255, 255, 0.2),
				inset 17px 0 30px -15px #4bc0fa,
				inset -17px 0 30px -15px #4bc0fa,
				0 1px 4px 0 rgba(0, 0, 0, 0.5);
		}
	}
	
	.result {
		&__text {margin-bottom: 30px;}
	}
}