.calculator-types {
		margin: 0;
		border: 0;
		padding: 0;
	
	input[type='radio'] {}
	&__controls {
		position: relative;
		
		&-item {
			position: relative;
			float: left;
			width: (100% / 7);
			display: hidden;
			cursor: pointer;
			
			&_img {
				overflow-x: hidden;
				
				img {
					width: 700%;
					height: auto;
				}
			}
			&_name {
				position: absolute;
				left: 0;
				bottom: 50px;
				width: 100%;
				text-align: center;
			}
		}
	}
}