extends ../../layouts/right-column

block variables
	-var files = 1
	-var pageID = 3
	-var pageClass = 'body-calculator'
	-var specClass = 'sprite_icon-footer-clip--left sprite_icon-footer-clip--right'

block scripts_upper

block content
	include ../../blocks/rapid_print/rapid_print

block right-sidebar

block content-bottom
	include ../../blocks/teasers


block scripts