//- импорт массива аргументов в конструктор
-var applyCtor = function(){
	-var tempCtor = function() {};
	-return function(ctor, args){
		-tempCtor.prototype = ctor.prototype;
		-var instance = new tempCtor();
		-ctor.prototype.constructor.apply(instance,args);
		-return instance;
	-}
-}();