mixin nav(items)
	ul.nav.nav-justified
		each item, i in items
			if item.special === 1
				if i === pageID
					li.nav-item.nav-item--special.nav-item--active
						a.nav-item__name.nav-item__name--active=item.name
				else
					li.nav-item.nav-item--special
						a.nav-item__name(href=item.href)=item.name
			else
				if i === pageID
					li.nav-item.nav-item--active
						a.nav-item__name.nav-item__name--active=item.name
				else
					li.nav-item
						a.nav-item__name(href=item.href)=item.name
						
