mixin blog(name)
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quaerat voluptatibus quo quam iste accusamus odit quos repellat nostrum, eos incidunt voluptates eligendi ab saepe corporis enim deleniti velit quas.