include cover/cover-vals
include cover/cover-color
include cover/paper
include cover/effects
include cover/decoration


mixin calc_cover(name, items)
	each item in items
		-var mix_name = name + '_' + item.id
		.calculator__block--inner(class=name + '_' + item.id + '-block')
			.calculator__header--inner(class=name + '_' + item.id + '-header')
				h3.calculator__title--inner(class=name + '_' + item.id + '-title')=item.name
			
			case item.id
				when 'cover'
					+cover_vals(mix_name)
					+cover_color(mix_name)
				when 'paper'
					+paper(mix_name)
				when 'effects'
					+effects(mix_name)
				when 'decoration'
					+decoration(mix_name)


mixin cover(name)
	+calc_cover(name, [{
		id: 'cover',
		name: 'Обложка'
	}, {
		id: 'paper',
		name: 'Бумага'
	}, {
		id: 'effects',
		name: 'Эффекты нанесения'
	}, {
		id: 'decoration',
		name: 'Отделка'
	}])