include inset/color
include inset/paper
include inset/vals


mixin calc_inset(name, items)
	each item in items
		-var mix_name = name + '_' + item.id
		-var count
		if item.counter
			-count = ' ' + name + '-' + item.id + '--' + 'counter'
		else
			-count = ''
		.calculator__block--inner(class=name + '_' + item.id + '-block' + count)
			.calculator__header--inner
				h3.calculator__title--inner=item.name
					if item.id == 'lines'
						span.calculator__title--inner_sub=item.sub
			
			case item.id
				when 'color'
					+inset_color(mix_name)
				when 'paper'
					+inset_paper(mix_name)
				when 'vals'
					+inset_vals(mix_name)


mixin inset(name)
	+calc_inset(name, [{
		id: 'color',
		name: ''
	}, {
		id: 'paper',
		name: 'Бумага'
	}, {
		id: 'vals',
		name: 'Количество полос',
		counter: 1
	}])