h1.title--main Калькулятор стоимости печати
form.form--calculator.calculator(action='#' method='post' name='caculator')
	fieldset.calculator-types
		include types
	fieldset.calculator-block.print
		include print