mixin siteTree_header(siteTree)
	-var part1 = siteTree.slice(0, 5)
	-var part2 = {name: '&#8943;', href: '/', next: siteTree}
	-part1.push(part2)
	-siteTree_header = part1

-var siteTree_header
+siteTree_header(siteTree)

+nav('header-menu', siteTree_header)