mixin inset_color_inner(name, item)
	.calculator__item.calculator__switcher(class='calculator__switcher--' + name)
			+calc_switcher(name, item)
			.calculator__switcher-img(class='calculator__switcher-img--' + name)
				img.calculator__switcher-img--off(src=item.off.src alt=item.off.alt)
				img.calculator__switcher-img--on(src=item.on.src alt=item.on.alt)

mixin inset_color(name)
	+inset_color_inner(name, {
		id: 'block_color',
		name: 'Цветная',
		off: {
			val: 'b_w',
			src: '',
			alt: 'Черно-белая'
		},
		on: {
			val: 'colored',
			src: '',
			alt: 'Цветная'
		}
	})