mixin inset_color_inner(name, item)
	.calculator__item.calculator__switcher(class=name)
		+calc_switcher([{
			id: name,
			obj: item
		}])
		.calculator__switcher-img(class=name + '-items')
			+picture({
				name: item.off.name,
				class: 'calculator__switcher-img_off ' + name + '-img--switcher',
				adress: '../images/calculator/' + name + '/' + name + '@',
				ext: 'png'
			}, {
				main: {
					width: 494,
					img: 494
				}
			})
			+picture({
				name: item.on.name,
				class: 'calculator__switcher-img_on ' + name + '-img--switcher',
				adress: '../images/calculator/' + name + '/' + name + '@',
				ext: 'png'
			}, {
				main: {
					width: 494,
					img: 494
				}
			})

mixin inset_color(name)
	+inset_color_inner(name, {
		id: 'block_color',
		name: 'Цветная',
		off: {
			val: 'b_w',
			src: '',
			alt: 'Черно-белая'
		},
		on: {
			val: 'colored',
			src: '',
			alt: 'Цветная'
		}
	})